openapi: 3.2.0
info:
  title: Drip Pricing Plans API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Pricing Plans
  description: Define per-unit pricing for usage types. Creating, updating, and deleting plans requires a secret key (`sk_*`) with the `ADMIN` role.
paths:
  /v1/pricing-plans:
    get:
      operationId: listPricingPlans
      summary: List pricing plans
      tags:
      - Pricing Plans
      description: Get all pricing plans for your business.
      responses:
        '200':
          description: List of pricing plans
          content:
            application/json:
              schema:
                description: List of pricing plans
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: A pricing plan defines how much to charge per unit of usage.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the pricing plan
                          example: plan_abc123def456
                        businessId:
                          type: string
                          description: Business this plan belongs to
                          example: biz_789xyz
                        name:
                          type: string
                          description: Human-readable name for the plan
                          example: API Calls
                        unitType:
                          type: string
                          description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                          example: '0.001000'
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                          example: '0.000920'
                        currency:
                          type: string
                          enum:
                          - USD
                          - USDC
                          - EUR
                          - GBP
                          - JPY
                          - CAD
                          - AUD
                          - CHF
                          - SGD
                          - HKD
                          - ILS
                          - NZD
                          - SEK
                          - NOK
                          - DKK
                          - MXN
                          - BRL
                          - INR
                          - ZAR
                          - PLN
                          description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                          example: USD
                        pricingModel:
                          type: string
                          enum:
                          - FLAT
                          - TIERED
                          - VOLUME
                          - PACKAGE
                          - PER_SEAT
                          description: 'How quantity maps to charge amount:

                            - `FLAT`: quantity × unitPrice (default)

                            - `TIERED`: graduated, first N at price A, next M at price B, etc.

                            - `VOLUME`: total quantity determines a single rate applied to all units

                            - `PACKAGE`: charge per package of N units (rounds up partial packages)

                            - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                          example: FLAT
                        tiers:
                          type: array
                          description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                          items:
                            type: object
                            description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                            properties:
                              id:
                                type: string
                                description: Tier ID (present on existing tiers)
                              minQuantity:
                                type: string
                                description: Tier starts at this quantity (inclusive). First tier must be 0.
                                example: '0'
                              maxQuantity:
                                type:
                                - 'null'
                                - string
                                description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                                example: '1000'
                              unitPriceUsd:
                                type: string
                                description: Price per unit in this tier (USD)
                                example: '0.001000'
                              flatFeeUsd:
                                type:
                                - 'null'
                                - string
                                description: Optional flat fee added when this tier is reached
                                example: null
                              unitPrice:
                                type:
                                - 'null'
                                - string
                                description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                                example: '0.000920'
                              flatFee:
                                type:
                                - 'null'
                                - string
                                description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                                example: null
                              packageSize:
                                type:
                                - 'null'
                                - integer
                                description: 'For PACKAGE model: number of units in one billable package'
                                example: 1000
                            required:
                            - minQuantity
                            - unitPriceUsd
                        creditsPerUnit:
                          type:
                          - 'null'
                          - string
                          description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                          example: '10'
                        productCategoryId:
                          type:
                          - 'null'
                          - string
                          description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                          example: cat_core
                        isActive:
                          type: boolean
                          description: Whether this plan is active. Only active plans are used for new charges.
                          example: true
                        createdAt:
                          type: string
                          format: date-time
                          description: When the plan was created
                          example: '2024-01-15T10:30:00.000Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: When the plan was last updated
                          example: '2024-01-15T10:30:00.000Z'
                      required:
                      - id
                      - name
                      - unitType
                      - unitPriceUsd
                      - pricingModel
                      - tiers
                      - isActive
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    post:
      operationId: createPricingPlan
      summary: Create a pricing plan
      tags:
      - Pricing Plans
      description: 'Create a new pricing plan for a usage type.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.** Public keys and lower-role secret keys will receive `403 Forbidden`.


        Each `unitType` can only have one active pricing plan. If you need to

        change prices, update the existing plan or deactivate it first.


        **Example unit types:**

        - `api_call` - Per API request

        - `token` - Per token processed

        - `compute_second` - Per second of compute

        - `gb_storage` - Per GB stored'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for creating a new pricing plan.
              properties:
                name:
                  type: string
                  minLength: 1
                  description: Human-readable name for the plan (required)
                  example: API Calls
                unitType:
                  type: string
                  minLength: 1
                  description: 'The usage type to price. Must be unique per business. Examples: "api_call", "token", "compute_second", "gb_storage"'
                  example: api_call
                unitPriceUsd:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 1000000
                  description: Default (FLAT) price per unit in USD. Required even for tiered plans as a fallback.
                  example: 0.001
                unitPrice:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 1000000
                  description: Native-currency price per unit. Required when `currency` is non-USD/USDC. The billing engine uses this as the source of truth and converts to USD via FxRate at charge time.
                  example: 0.0037
                currency:
                  type: string
                  enum:
                  - USD
                  - USDC
                  - EUR
                  - GBP
                  - JPY
                  - CAD
                  - AUD
                  - CHF
                  - SGD
                  - HKD
                  - ILS
                  - NZD
                  - SEK
                  - NOK
                  - DKK
                  - MXN
                  - BRL
                  - INR
                  - ZAR
                  - PLN
                  description: 'Billing currency for the plan (default: USD). Non-USD plans require `unitPrice`.'
                  example: USD
                isActive:
                  type: boolean
                  description: 'Whether to activate the plan immediately (default: true)'
                  example: true
                pricingModel:
                  type: string
                  enum:
                  - FLAT
                  - TIERED
                  - VOLUME
                  - PACKAGE
                  - PER_SEAT
                  description: 'How quantity maps to charge amount (default: FLAT)'
                  example: FLAT
                creditsPerUnit:
                  type: number
                  exclusiveMinimum: 0
                  description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                  example: 10
                productCategoryId:
                  type: string
                  description: Optional product category id. When `Business.strictProducts` is true, either this or `productCategoryKey` is required.
                  example: cat_core
                productCategoryKey:
                  type: string
                  description: Optional product category slug (e.g. 'core_api'). Resolved server-side to the matching id. Mutually exclusive with `productCategoryId`.
                  example: core_api
                tiers:
                  type: array
                  description: Tier definitions. Must be omitted/empty for FLAT and PER_SEAT. Required for TIERED/VOLUME/PACKAGE. Tiers must be contiguous (tier N.max == tier N+1.min) and the first tier must start at 0.
                  items:
                    type: object
                    properties:
                      minQuantity:
                        type: number
                        minimum: 0
                      maxQuantity:
                        type:
                        - number
                        - 'null'
                      unitPriceUsd:
                        type: number
                        minimum: 0
                        maximum: 1000000
                      flatFeeUsd:
                        type:
                        - number
                        - 'null'
                      unitPrice:
                        type:
                        - number
                        - 'null'
                        minimum: 0
                        maximum: 1000000
                      flatFee:
                        type:
                        - number
                        - 'null'
                        minimum: 0
                      packageSize:
                        type:
                        - integer
                        - 'null'
                    required:
                    - minQuantity
                    - unitPriceUsd
              required:
              - name
              - unitType
              - unitPriceUsd
        description: Request body for creating a new pricing plan.
      responses:
        '201':
          description: Pricing plan created
          content:
            application/json:
              schema:
                type: object
                description: Pricing plan created
                properties:
                  id:
                    type: string
                    description: Unique identifier for the pricing plan
                    example: plan_abc123def456
                  businessId:
                    type: string
                    description: Business this plan belongs to
                    example: biz_789xyz
                  name:
                    type: string
                    description: Human-readable name for the plan
                    example: API Calls
                  unitType:
                    type: string
                    description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                    example: api_call
                  unitPriceUsd:
                    type: string
                    description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                    example: '0.001000'
                  unitPrice:
                    type:
                    - 'null'
                    - string
                    description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                    example: '0.000920'
                  currency:
                    type: string
                    enum:
                    - USD
                    - USDC
                    - EUR
                    - GBP
                    - JPY
                    - CAD
                    - AUD
                    - CHF
                    - SGD
                    - HKD
                    - ILS
                    - NZD
                    - SEK
                    - NOK
                    - DKK
                    - MXN
                    - BRL
                    - INR
                    - ZAR
                    - PLN
                    description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                    example: USD
                  pricingModel:
                    type: string
                    enum:
                    - FLAT
                    - TIERED
                    - VOLUME
                    - PACKAGE
                    - PER_SEAT
                    description: 'How quantity maps to charge amount:

                      - `FLAT`: quantity × unitPrice (default)

                      - `TIERED`: graduated, first N at price A, next M at price B, etc.

                      - `VOLUME`: total quantity determines a single rate applied to all units

                      - `PACKAGE`: charge per package of N units (rounds up partial packages)

                      - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                    example: FLAT
                  tiers:
                    type: array
                    description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                    items:
                      type: object
                      description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                      properties:
                        id:
                          type: string
                          description: Tier ID (present on existing tiers)
                        minQuantity:
                          type: string
                          description: Tier starts at this quantity (inclusive). First tier must be 0.
                          example: '0'
                        maxQuantity:
                          type:
                          - 'null'
                          - string
                          description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                          example: '1000'
                        unitPriceUsd:
                          type: string
                          description: Price per unit in this tier (USD)
                          example: '0.001000'
                        flatFeeUsd:
                          type:
                          - 'null'
                          - string
                          description: Optional flat fee added when this tier is reached
                          example: null
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                          example: '0.000920'
                        flatFee:
                          type:
                          - 'null'
                          - string
                          description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                          example: null
                        packageSize:
                          type:
                          - 'null'
                          - integer
                          description: 'For PACKAGE model: number of units in one billable package'
                          example: 1000
                      required:
                      - minQuantity
                      - unitPriceUsd
                  creditsPerUnit:
                    type:
                    - 'null'
                    - string
                    description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                    example: '10'
                  productCategoryId:
                    type:
                    - 'null'
                    - string
                    description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                    example: cat_core
                  isActive:
                    type: boolean
                    description: Whether this plan is active. Only active plans are used for new charges.
                    example: true
                  createdAt:
                    type: string
                    format: date-time
                    description: When the plan was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the plan was last updated
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - name
                - unitType
                - unitPriceUsd
                - pricingModel
                - tiers
                - isActive
        '400':
          description: Invalid tier configuration
          content:
            application/json:
              schema:
                description: Invalid tier configuration
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    example: INVALID_TIERS
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '409':
          description: Pricing plan for unit type already exists
          content:
            application/json:
              schema:
                description: Pricing plan for unit type already exists
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    example: DUPLICATE_PRICING_PLAN
                  existingPlanId:
                    type: string
  /v1/pricing-plans/{id}:
    get:
      operationId: getPricingPlan
      summary: Get a pricing plan
      tags:
      - Pricing Plans
      description: Retrieve a pricing plan by ID.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Pricing plan ID
      responses:
        '200':
          description: Pricing plan details
          content:
            application/json:
              schema:
                type: object
                description: Pricing plan details
                properties:
                  id:
                    type: string
                    description: Unique identifier for the pricing plan
                    example: plan_abc123def456
                  businessId:
                    type: string
                    description: Business this plan belongs to
                    example: biz_789xyz
                  name:
                    type: string
                    description: Human-readable name for the plan
                    example: API Calls
                  unitType:
                    type: string
                    description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                    example: api_call
                  unitPriceUsd:
                    type: string
                    description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                    example: '0.001000'
                  unitPrice:
                    type:
                    - 'null'
                    - string
                    description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                    example: '0.000920'
                  currency:
                    type: string
                    enum:
                    - USD
                    - USDC
                    - EUR
                    - GBP
                    - JPY
                    - CAD
                    - AUD
                    - CHF
                    - SGD
                    - HKD
                    - ILS
                    - NZD
                    - SEK
                    - NOK
                    - DKK
                    - MXN
                    - BRL
                    - INR
                    - ZAR
                    - PLN
                    description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                    example: USD
                  pricingModel:
                    type: string
                    enum:
                    - FLAT
                    - TIERED
                    - VOLUME
                    - PACKAGE
                    - PER_SEAT
                    description: 'How quantity maps to charge amount:

                      - `FLAT`: quantity × unitPrice (default)

                      - `TIERED`: graduated, first N at price A, next M at price B, etc.

                      - `VOLUME`: total quantity determines a single rate applied to all units

                      - `PACKAGE`: charge per package of N units (rounds up partial packages)

                      - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                    example: FLAT
                  tiers:
                    type: array
                    description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                    items:
                      type: object
                      description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                      properties:
                        id:
                          type: string
                          description: Tier ID (present on existing tiers)
                        minQuantity:
                          type: string
                          description: Tier starts at this quantity (inclusive). First tier must be 0.
                          example: '0'
                        maxQuantity:
                          type:
                          - 'null'
                          - string
                          description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                          example: '1000'
                        unitPriceUsd:
                          type: string
                          description: Price per unit in this tier (USD)
                          example: '0.001000'
                        flatFeeUsd:
                          type:
                          - 'null'
                          - string
                          description: Optional flat fee added when this tier is reached
                          example: null
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                          example: '0.000920'
                        flatFee:
                          type:
                          - 'null'
                          - string
                          description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                          example: null
                        packageSize:
                          type:
                          - 'null'
                          - integer
                          description: 'For PACKAGE model: number of units in one billable package'
                          example: 1000
                      required:
                      - minQuantity
                      - unitPriceUsd
                  creditsPerUnit:
                    type:
                    - 'null'
                    - string
                    description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                    example: '10'
                  productCategoryId:
                    type:
                    - 'null'
                    - string
                    description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                    example: cat_core
                  isActive:
                    type: boolean
                    description: Whether this plan is active. Only active plans are used for new charges.
                    example: true
                  createdAt:
                    type: string
                    format: date-time
                    description: When the plan was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the plan was last updated
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - name
                - unitType
                - unitPriceUsd
                - pricingModel
                - tiers
                - isActive
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Pricing plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Pricing plan not found
    patch:
      operationId: updatePricingPlan
      summary: Update a pricing plan
      tags:
      - Pricing Plans
      description: 'Update the name, price, or status of a pricing plan. Changes take effect immediately for new charges.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Plan name
                unitPriceUsd:
                  type: number
                  description: New price per unit in USD
                isActive:
                  type: boolean
                  description: Enable/disable the plan
                creditsPerUnit:
                  type: number
                  exclusiveMinimum: 0
                  description: Credits consumed per unit of usage; null to disable credit billing
                  nullable: true
                pricingModel:
                  type: string
                  enum:
                  - FLAT
                  - TIERED
                  - VOLUME
                  - PACKAGE
                  - PER_SEAT
                  description: How quantity maps to charge
                tiers:
                  type: array
                  description: Replace the plan tiers (required for non-FLAT models)
                  items:
                    type: object
                    properties:
                      minQuantity:
                        type: number
                      maxQuantity:
                        type:
                        - number
                        - 'null'
                      unitPriceUsd:
                        type: number
                      flatFeeUsd:
                        type:
                        - number
                        - 'null'
                      packageSize:
                        type:
                        - integer
                        - 'null'
                    required:
                    - minQuantity
                    - unitPriceUsd
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Pricing plan ID
      responses:
        '200':
          description: Pricing plan updated
          content:
            application/json:
              schema:
                type: object
                description: Pricing plan updated
                properties:
                  id:
                    type: string
                    description: Unique identifier for the pricing plan
                    example: plan_abc123def456
                  businessId:
                    type: string
                    description: Business this plan belongs to
                    example: biz_789xyz
                  name:
                    type: string
                    description: Human-readable name for the plan
                    example: API Calls
                  unitType:
                    type: string
                    description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                    example: api_call
                  unitPriceUsd:
                    type: string
                    description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                    example: '0.001000'
                  unitPrice:
                    type:
                    - 'null'
                    - string
                    description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                    example: '0.000920'
                  currency:
                    type: string
                    enum:
                    - USD
                    - USDC
                    - EUR
                    - GBP
                    - JPY
                    - CAD
                    - AUD
                    - CHF
                    - SGD
                    - HKD
                    - ILS
                    - NZD
                    - SEK
                    - NOK
                    - DKK
                    - MXN
                    - BRL
                    - INR
                    - ZAR
                    - PLN
                    description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                    example: USD
                  pricingModel:
                    type: string
                    enum:
                    - FLAT
                    - TIERED
                    - VOLUME
                    - PACKAGE
                    - PER_SEAT
                    description: 'How quantity maps to charge amount:

                      - `FLAT`: quantity × unitPrice (default)

                      - `TIERED`: graduated, first N at price A, next M at price B, etc.

                      - `VOLUME`: total quantity determines a single rate applied to all units

                      - `PACKAGE`: charge per package of N units (rounds up partial packages)

                      - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                    example: FLAT
                  tiers:
                    type: array
                    description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                    items:
                      type: object
                      description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                      properties:
                        id:
                          type: string
                          description: Tier ID (present on existing tiers)
                        minQuantity:
                          type: string
                          description: Tier starts at this quantity (inclusive). First tier must be 0.
                          example: '0'
                        maxQuantity:
                          type:
                          - 'null'
                          - string
                          description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                          example: '1000'
                        unitPriceUsd:
                          type: string
                          description: Price per unit in this tier (USD)
                          example: '0.001000'
                        flatFeeUsd:
                          type:
                          - 'null'
                          - string
                          description: Optional flat fee added when this tier is reached
                          example: null
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                          example: '0.000920'
                        flatFee:
                          type:
                          - 'null'
                          - string
                          description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                          example: null
                        packageSize:
                          type:
                          - 'null'
                          - integer
                          description: 'For PACKAGE model: number of units in one billable package'
                          example: 1000
                      required:
                      - minQuantity
                      - unitPriceUsd
                  creditsPerUnit:
                    type:
                    - 'null'
                    - string
                    description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                    example: '10'
                  productCategoryId:
                    type:
                    - 'null'
                    - string
                    description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                    example: cat_core
                  isActive:
                    type: boolean
                    description: Whether this plan is active. Only active plans are used for new charges.
                    example: true
                  createdAt:
                    type: string
                    format: date-time
                    description: When the plan was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the plan was last updated
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - name
                - unitType
                - unitPriceUsd
                - pricingModel
                - tiers
                - isActive
        '400':
          description: Invalid tier configuration
          content:
            application/json:
              schema:
                description: Invalid tier configuration
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    example: INVALID_TIERS
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Pricing plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Pricing plan not found
    delete:
      operationId: deletePricingPlan
      summary: Delete a pricing plan
      tags:
      - Pricing Plans
      description: 'Soft-delete a pricing plan by deactivating it.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**


        The plan is preserved for historical charges but will no longer be used

        for new usage events. You can reactivate it by updating `isActive` to `true`.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Pricing plan ID
      responses:
        '204':
          description: Pricing plan deleted
          content:
            application/json:
              schema:
                description: Pricing plan deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Pricing plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Pricing plan not found
  /v1/pricing-plans/{id}/versions:
    get:
      operationId: listPricingPlanVersions
      summary: List versions of a pricing plan
      tags:
      - Pricing Plans
      description: Return every version row in the same `versionGroupId` as the given plan, ordered oldest → newest. Pass the id of any version (active or archived) and you get the full history of that plan.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Pricing plan ID (any version)
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                description: Version history
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: A pricing plan defines how much to charge per unit of usage.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the pricing plan
                          example: plan_abc123def456
                        businessId:
                          type: string
                          description: Business this plan belongs to
                          example: biz_789xyz
                        name:
                          type: string
                          description: Human-readable name for the plan
                          example: API Calls
                        unitType:
                          type: string
                          description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                          example: '0.001000'
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                          example: '0.000920'
                        currency:
                          type: string
                          enum:
                          - USD
                          - USDC
                          - EUR
                          - GBP
                          - JPY
                          - CAD
                          - AUD
                          - CHF
                          - SGD
                          - HKD
                          - ILS
                          - NZD
                          - SEK
                          - NOK
                          - DKK
                          - MXN
                          - BRL
                          - INR
                          - ZAR
                          - PLN
                          description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                          example: USD
                        pricingModel:
                          type: string
                          enum:
                          - FLAT
                          - TIERED
                          - VOLUME
                          - PACKAGE
                          - PER_SEAT
                          description: 'How quantity maps to charge amount:

                            - `FLAT`: quantity × unitPrice (default)

                            - `TIERED`: graduated, first N at price A, next M at price B, etc.

                            - `VOLUME`: total quantity determines a single rate applied to all units

                            - `PACKAGE`: charge per package of N units (rounds up partial packages)

                            - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                          example: FLAT
                        tiers:
                          type: array
                          description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                          items:
                            type: object
                            description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                            properties:
                              id:
                                type: string
                                description: Tier ID (present on existing tiers)
                              minQuantity:
                                type: string
                                description: Tier starts at this quantity (inclusive). First tier must be 0.
                                example: '0'
                              maxQuantity:
                                type:
                                - 'null'
                                - string
                                description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                                example: '1000'
                              unitPriceUsd:
                                type: string
                                description: Price per unit in this tier (USD)
                                example: '0.001000'
                              flatFeeUsd:
                                type:
                                - 'null'
                                - string
                                description: Optional flat fee added when this tier is reached
                                example: null
                              unitPrice:
                                type:
                                - 'null'
                                - string
                                description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                                example: '0.000920'
                              flatFee:
                                type:
                                - 'null'
                                - string
                                description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                                example: null
                              packageSize:
                                type:
                                - 'null'
                                - integer
                                description: 'For PACKAGE model: number of units in one billable package'
                                example: 1000
                            required:
                            - minQuantity
                            - unitPriceUsd
                        creditsPerUnit:
                          type:
                          - 'null'
                          - string
                          description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                          example: '10'
                        productCategoryId:
                          type:
                          - 'null'
                          - string
                          description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                          example: cat_core
                        isActive:
                          type: boolean
                          description: Whether this plan is active. Only active plans are used for new charges.
                          example: true
                        createdAt:
                          type: string
                          format: date-time
                          description: When the plan was created
                          example: '2024-01-15T10:30:00.000Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: When the plan was last updated
                          example: '2024-01-15T10:30:00.000Z'
                      required:
                      - id
                      - name
                      - unitType
                      - unitPriceUsd
                      - pricingModel
                      - tiers
                      - isActive
                  count:
                    type: integer
                  versionGroupId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Pricing plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Pricing plan not found
  /v1/pricing-plans/by-type/{unitType}:
    get:
      operationId: getPricingPlanByType
      summary: Get pricing plan by unit type
      tags:
      - Pricing Plans
      description: Look up the active pricing plan for a specific usage type.
      parameters:
      - schema:
          type: string
        in: path
        name: unitType
        required: true
        description: Usage type (e.g., "api_call", "token")
      responses:
        '200':
          description: Pricing plan for unit type
          content:
            application/json:
              schema:
                type: object
                description: Pricing plan for unit type
                properties:
                  id:
                    type: string
                    description: Unique identifier for the pricing plan
                    example: plan_abc123def456
                  businessId:
                    type: string
                    description: Business this plan belongs to
                    example: biz_789xyz
                  name:
                    type: string
                    description: Human-readable name for the plan
                    example: API Calls
                  unitType:
                    type: string
                    description: The usage type this plan prices (e.g., "api_call", "token", "compute_second", "gb_storage")
                    example: api_call
                  unitPriceUsd:
                    type: string
                    description: Default (FLAT) price per unit in USD. For TIERED/VOLUME/PACKAGE plans, consult `tiers`. For PER_SEAT plans, this is the price per seat per billing period.
                    example: '0.001000'
                  unitPrice:
                    type:
                    - 'null'
                    - string
                    description: 'Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth: the billing engine reads it directly and converts to USD via FxRate at charge time.'
                    example: '0.000920'
                  currency:
                    type: string
                    enum:
                    - USD
                    - USDC
                    - EUR
                    - GBP
                    - JPY
                    - CAD
                    - AUD
                    - CHF
                    - SGD
                    - HKD
                    - ILS
                    - NZD
                    - SEK
                    - NOK
                    - DKK
                    - MXN
                    - BRL
                    - INR
                    - ZAR
                    - PLN
                    description: Billing currency for the plan. Defaults to USD. For non-USD currencies, supply `unitPrice` (and tier `unitPrice`/`flatFee`); the billing engine uses those as the source of truth and converts to USD via FxRate at charge time.
                    example: USD
                  pricingModel:
                    type: string
                    enum:
                    - FLAT
                    - TIERED
                    - VOLUME
                    - PACKAGE
                    - PER_SEAT
                    description: 'How quantity maps to charge amount:

                      - `FLAT`: quantity × unitPrice (default)

                      - `TIERED`: graduated, first N at price A, next M at price B, etc.

                      - `VOLUME`: total quantity determines a single rate applied to all units

                      - `PACKAGE`: charge per package of N units (rounds up partial packages)

                      - `PER_SEAT`: per-seat/user licensing. quantity is the seat count, charged at unitPrice per seat per billing period (no tiers)'
                    example: FLAT
                  tiers:
                    type: array
                    description: Tier definitions. Empty for FLAT and PER_SEAT plans; required for TIERED/VOLUME/PACKAGE.
                    items:
                      type: object
                      description: A tier defines a price bracket for TIERED, VOLUME, or PACKAGE pricing.
                      properties:
                        id:
                          type: string
                          description: Tier ID (present on existing tiers)
                        minQuantity:
                          type: string
                          description: Tier starts at this quantity (inclusive). First tier must be 0.
                          example: '0'
                        maxQuantity:
                          type:
                          - 'null'
                          - string
                          description: Tier ends at this quantity (exclusive). Null on the final unbounded tier.
                          example: '1000'
                        unitPriceUsd:
                          type: string
                          description: Price per unit in this tier (USD)
                          example: '0.001000'
                        flatFeeUsd:
                          type:
                          - 'null'
                          - string
                          description: Optional flat fee added when this tier is reached
                          example: null
                        unitPrice:
                          type:
                          - 'null'
                          - string
                          description: Native-currency price per unit. Populated only for non-USD plans (e.g. EUR, ILS). When set, this is the source of truth and the legacy unitPriceUsd is ignored by the billing engine.
                          example: '0.000920'
                        flatFee:
                          type:
                          - 'null'
                          - string
                          description: Native-currency flat fee. Populated only for non-USD plans (mirror of flatFeeUsd).
                          example: null
                        packageSize:
                          type:
                          - 'null'
                          - integer
                          description: 'For PACKAGE model: number of units in one billable package'
                          example: 1000
                      required:
                      - minQuantity
                      - unitPriceUsd
                  creditsPerUnit:
                    type:
                    - 'null'
                    - string
                    description: Credits consumed per unit of usage. When set, usage is deducted from the customer's credit wallet instead of charging USD.
                    example: '10'
                  productCategoryId:
                    type:
                    - 'null'
                    - string
                    description: Optional product category tag used by 'strict products' mode to roll up reporting by service line. Null when the plan is untagged. When `Business.strictProducts` is true, this must be populated via the category id or key.
                    example: cat_core
                  isActive:
                    type: boolean
                    description: Whether this plan is active. Only active plans are used for new charges.
                    example: true
                  createdAt:
                    type: string
                    format: date-time
                    description: When the plan was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the plan was last updated
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - name
                - unitType
                - unitPriceUsd
                - pricingModel
                - tiers
                - isActive
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: No active pricing plan found for unit type
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: No active pricing plan found for unit type
  /v1/pricing-plans/{id}/reprovision-stripe:
    post:
      operationId: reprovisionPricingPlanStripe
      summary: Retry Stripe auto-provisioning for a plan
      tags:
      - Pricing Plans
      description: 'Retries the Drip-managed Stripe Product / Meter / Price provisioning for a pricing plan. Useful after an initial transient failure on plan create. Idempotent: already-provisioned objects are skipped; only the missing Stripe calls are made.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Pricing plan ID
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
