openapi: 3.2.0
info:
  title: Drip Runs API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Runs
  description: Start, update, and inspect agent runs.
paths:
  /v1/runs:
    post:
      operationId: startRun
      summary: Start a new agent run
      tags:
      - Runs
      description: 'Start tracking a new agent run for a customer workflow.


        Returns a run ID that can be used to emit events and track execution.

        The run starts in PENDING status and transitions to RUNNING when the first event is emitted.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - workflowId
              properties:
                customerId:
                  type: string
                  description: Customer ID (must exist)
                  example: cus_abc123
                workflowId:
                  type: string
                  description: Workflow ID (must exist)
                  example: wf_abc123
                externalRunId:
                  type: string
                  maxLength: 255
                  description: Your system run ID (must be unique per business)
                correlationId:
                  type: string
                  maxLength: 255
                  description: Cross-service tracing ID for linking runs across services
                parentRunId:
                  type: string
                  description: Parent run ID for nested/sub-runs
                metadata:
                  type: object
                  additionalProperties: true
                  description: Arbitrary metadata to attach to the run
      responses:
        '201':
          description: Run started
          content:
            application/json:
              schema:
                description: Run started
                type: object
                properties:
                  id:
                    type: string
                  customerId:
                    type: string
                  workflowId:
                    type: string
                  workflowName:
                    type: string
                  status:
                    type: string
                  correlationId:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer or workflow not found
          content:
            application/json:
              schema:
                description: Customer or workflow not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '409':
          description: Run with externalRunId already exists
          content:
            application/json:
              schema:
                description: Run with externalRunId already exists
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Service temporarily unavailable
          content:
            application/json:
              schema:
                description: Service temporarily unavailable
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listRuns
      summary: List runs
      tags:
      - Runs
      description: List agent runs with optional filters.
      parameters:
      - schema:
          type: string
        in: query
        name: customerId
        required: false
      - schema:
          type: string
        in: query
        name: workflowId
        required: false
      - schema:
          type: string
          enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - FAILED
          - CANCELLED
          - TIMEOUT
        in: query
        name: status
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: from
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: to
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        in: query
        name: limit
        required: false
      responses:
        '200':
          description: List of runs
          content:
            application/json:
              schema:
                description: List of runs
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        customerId:
                          type: string
                        customerName:
                          type: string
                          nullable: true
                        workflowId:
                          type: string
                        workflowName:
                          type: string
                        workflowSurface:
                          type: string
                          nullable: true
                        workflowChain:
                          type: string
                          nullable: true
                        status:
                          type: string
                        eventCount:
                          type: integer
                        totalCostUnits:
                          type: string
                          nullable: true
                        durationMs:
                          type: integer
                          nullable: true
                        startedAt:
                          type: string
                          format: date-time
                          nullable: true
                        endedAt:
                          type: string
                          format: date-time
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        errorMessage:
                          type: string
                          nullable: true
                        errorCode:
                          type: string
                          nullable: true
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/runs/{id}:
    patch:
      operationId: updateRun
      summary: Update or end a run
      tags:
      - Runs
      description: 'Update a run''s status or end it.


        When transitioning to COMPLETED, FAILED, CANCELLED, or TIMEOUT, the run''s

        endedAt timestamp is automatically set and duration is computed.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Run updated
          content:
            application/json:
              schema:
                description: Run updated
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  startedAt:
                    type: string
                    format: date-time
                    nullable: true
                  endedAt:
                    type: string
                    format: date-time
                    nullable: true
                  durationMs:
                    type: integer
                    nullable: true
                  eventCount:
                    type: integer
                  totalCostUnits:
                    type: string
                    nullable: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                description: Run not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: getRun
      summary: Get run details
      tags:
      - Runs
      description: 'Get run metadata and summary totals.


        For full event history with retry chains, anomalies, and debugging details,

        use GET /runs/:id/timeline instead.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Run details with totals
          content:
            application/json:
              schema:
                description: Run details with totals
                type: object
                properties:
                  id:
                    type: string
                  customerId:
                    type: string
                  customerName:
                    type: string
                    nullable: true
                  workflowId:
                    type: string
                  workflowName:
                    type: string
                  status:
                    type: string
                  startedAt:
                    type: string
                    format: date-time
                    nullable: true
                  endedAt:
                    type: string
                    format: date-time
                    nullable: true
                  durationMs:
                    type: integer
                    nullable: true
                  errorMessage:
                    type: string
                    nullable: true
                  errorCode:
                    type: string
                    nullable: true
                  correlationId:
                    type: string
                    nullable: true
                  metadata:
                    type: object
                    nullable: true
                  totals:
                    type: object
                    properties:
                      eventCount:
                        type: integer
                      totalQuantity:
                        type: string
                      totalCostUnits:
                        type: string
                  _links:
                    type: object
                    properties:
                      timeline:
                        type: string
                        description: URL to get full event timeline
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                description: Run not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/runs/{id}/timeline:
    get:
      operationId: getRunTimelineV2
      summary: Get run timeline
      tags:
      - Runs
      description: 'Get a comprehensive timeline view of an agent run including:

        - Full event history with retry chain tracking

        - Anomaly detection and alerts

        - Human-readable explanations

        - Summary statistics

        - Pagination for large runs


        This is THE killer feature for debugging what happened in an agent execution.'
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
        in: query
        name: limit
        required: false
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Cursor for pagination
      - schema:
          type: boolean
          default: true
        in: query
        name: includeAnomalies
        required: false
      - schema:
          type: boolean
          default: true
        in: query
        name: collapseRetries
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Run timeline with events, anomalies, and summary
          content:
            application/json:
              schema:
                description: Run timeline with events, anomalies, and summary
                type: object
                properties:
                  runId:
                    type: string
                  workflowId:
                    type: string
                    nullable: true
                  workflowName:
                    type: string
                    nullable: true
                  customerId:
                    type: string
                  status:
                    type: string
                  correlationId:
                    type: string
                    nullable: true
                  metadata:
                    type: object
                    nullable: true
                  errorMessage:
                    type: string
                    nullable: true
                  errorCode:
                    type: string
                    nullable: true
                  startedAt:
                    type: string
                    format: date-time
                    nullable: true
                  endedAt:
                    type: string
                    format: date-time
                    nullable: true
                  durationMs:
                    type: integer
                    nullable: true
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        actionName:
                          type: string
                          nullable: true
                        outcome:
                          type: string
                          enum:
                          - SUCCESS
                          - FAILED
                          - PENDING
                          - TIMEOUT
                          - RETRYING
                        explanation:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        timestamp:
                          type: string
                          format: date-time
                        durationMs:
                          type: integer
                          nullable: true
                        parentEventId:
                          type: string
                          nullable: true
                        retryOfEventId:
                          type: string
                          nullable: true
                        attemptNumber:
                          type: integer
                        retriedByEventId:
                          type: string
                          nullable: true
                        costUsdc:
                          type: string
                          nullable: true
                        isRetry:
                          type: boolean
                        retryChain:
                          type: object
                          nullable: true
                          properties:
                            totalAttempts:
                              type: integer
                            finalOutcome:
                              type: string
                            events:
                              type: array
                              items:
                                type: string
                        metadata:
                          type: object
                          nullable: true
                          properties:
                            usageType:
                              type: string
                            quantity:
                              type: number
                            units:
                              type: string
                              nullable: true
                  anomalies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        severity:
                          type: string
                          enum:
                          - LOW
                          - MEDIUM
                          - HIGH
                          - CRITICAL
                        title:
                          type: string
                        explanation:
                          type: string
                        relatedEventIds:
                          type: array
                          items:
                            type: string
                        detectedAt:
                          type: string
                          format: date-time
                        status:
                          type: string
                          enum:
                          - OPEN
                          - INVESTIGATING
                          - RESOLVED
                          - FALSE_POSITIVE
                          - IGNORED
                  summary:
                    type: object
                    properties:
                      totalEvents:
                        type: integer
                      byType:
                        type: object
                        additionalProperties:
                          type: integer
                      byOutcome:
                        type: object
                        additionalProperties:
                          type: integer
                      retriedEvents:
                        type: integer
                      failedEvents:
                        type: integer
                      totalCostUsdc:
                        type: string
                        nullable: true
                  hasMore:
                    type: boolean
                  nextCursor:
                    type: string
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                description: Run not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/run-events:
    post:
      operationId: emitRunEvent
      summary: Emit an event to a run (legacy)
      tags:
      - Runs
      description: 'Emit a single usage event to a run. The event is stored idempotently using the idempotencyKey.


        **Note:** This is the legacy endpoint. For the newer execution-first API with richer metadata,

        use POST /v1/events instead.


        This endpoint records the event for visibility/debugging. For events that should also create a charge,

        use POST /v1/usage instead.'
      responses:
        '201':
          description: Event emitted
          content:
            application/json:
              schema:
                description: Event emitted
                type: object
                properties:
                  id:
                    type: string
                  runId:
                    type: string
                  eventType:
                    type: string
                  quantity:
                    type: number
                  costUnits:
                    type: number
                    nullable: true
                  isDuplicate:
                    type: boolean
                  timestamp:
                    type: string
                    format: date-time
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                description: Run not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Service temporarily unavailable — retry with backoff
          content:
            application/json:
              schema:
                description: Service temporarily unavailable — retry with backoff
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/run-events/batch:
    post:
      operationId: batchEmitRunEvents
      summary: Batch emit events to runs (legacy)
      tags:
      - Runs
      description: 'Emit multiple events in a single request. All events are stored idempotently.


        **Note:** This is the legacy endpoint. For the newer execution-first API with richer metadata,

        use POST /v1/events instead.


        Each event can specify its own runId, customerId, and workflowId. If runId is provided,

        the event is attached to that run. Otherwise, it''s a standalone event.'
      responses:
        '201':
          description: Events emitted
          content:
            application/json:
              schema:
                description: Events emitted
                type: object
                properties:
                  success:
                    type: boolean
                  created:
                    type: integer
                  duplicates:
                    type: integer
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        isDuplicate:
                          type: boolean
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Service temporarily unavailable — retry with backoff
          content:
            application/json:
              schema:
                description: Service temporarily unavailable — retry with backoff
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/runs/record:
    post:
      operationId: recordRun
      summary: Record a complete run in one call
      tags:
      - Runs
      description: 'One-call convenience endpoint that atomically creates a workflow (if needed),

        starts a run, emits events, and ends the run.


        This replaces the 4-step SDK orchestration:

        1. GET /workflows (resolve slug)

        2. POST /runs (start)

        3. POST /run-events/batch (emit events)

        4. PATCH /runs/:id (end)


        The `workflow` field can be a workflow ID or a slug. If a slug is provided

        and no matching workflow exists, one is auto-created.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*)
                  example: cus_abc123
                workflow:
                  type: string
                  description: Workflow slug/name or workflow ID (wf_*)
                  example: research-agent
                events:
                  type: array
                  maxItems: 100
                  description: Ordered list of events to attach to the run
                  items:
                    type: object
                    properties:
                      eventType:
                        type: string
                        description: Event name for this step (for example llm.call, tool.call, agent.plan)
                        example: llm.call
                      quantity:
                        type: number
                        description: Optional numeric quantity for the event
                        example: 1700
                      units:
                        type: string
                        description: Optional unit label for quantity
                        example: tokens
                      description:
                        type: string
                        description: Optional human-readable label or summary
                        example: web-search
                      costUnits:
                        type: number
                        description: Optional cost attributed to this event
                        example: 0.35
                      metadata:
                        type: object
                        additionalProperties: true
                        description: Optional structured metadata such as model, token breakdown, latency, or tool details
                        example:
                          model: gpt-4
                          inputTokens: 500
                          outputTokens: 1200
                    required:
                    - eventType
                  default: []
                status:
                  type: string
                  enum:
                  - COMPLETED
                  - FAILED
                  - CANCELLED
                  - TIMEOUT
                  description: Final run status
                  example: COMPLETED
                errorMessage:
                  type: string
                  description: Optional failure message when status is FAILED
                  example: Provider returned rate_limited
                errorCode:
                  type: string
                  description: Optional machine-readable failure code
                  example: rate_limited
                externalRunId:
                  type: string
                  description: Optional idempotent run identifier from your system
                  example: job_123
                correlationId:
                  type: string
                  description: Optional trace or request ID for cross-system correlation
                  example: trace_abc123
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata stored on the run itself
                  example:
                    tenant: acme
                    environment: production
              required:
              - customerId
              - workflow
              - status
      responses:
        '201':
          description: Run recorded
          content:
            application/json:
              schema:
                description: Run recorded
                type: object
                properties:
                  run:
                    type: object
                    properties:
                      id:
                        type: string
                      workflowId:
                        type: string
                      workflowName:
                        type: string
                      status:
                        type: string
                      durationMs:
                        type: integer
                        nullable: true
                  events:
                    type: object
                    properties:
                      created:
                        type: integer
                      duplicates:
                        type: integer
                  totalCostUnits:
                    type: string
                    nullable: true
                  summary:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer or workflow not found
          content:
            application/json:
              schema:
                description: Customer or workflow not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '409':
          description: Run with externalRunId already exists
          content:
            application/json:
              schema:
                description: Run with externalRunId already exists
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
