openapi: 3.2.0
info:
  title: Drip Coupons API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Coupons
  description: Coupons and promotion codes for discounts.
paths:
  /v1/coupons:
    post:
      operationId: createCoupon
      summary: Create a coupon
      tags:
      - Coupons
      responses:
        '200':
          description: Default Response
    get:
      operationId: listCoupons
      summary: List coupons
      tags:
      - Coupons
      responses:
        '200':
          description: Default Response
  /v1/coupons/{id}:
    get:
      operationId: getCoupon
      summary: Get a coupon
      tags:
      - Coupons
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    delete:
      operationId: deactivateCoupon
      summary: Deactivate a coupon (soft delete)
      tags:
      - Coupons
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/promotion-codes:
    post:
      operationId: createPromotionCode
      summary: Create a promotion code
      tags:
      - Coupons
      responses:
        '200':
          description: Default Response
    get:
      operationId: listPromotionCodes
      summary: List promotion codes
      tags:
      - Coupons
      responses:
        '200':
          description: Default Response
  /v1/promotion-codes/redeem:
    post:
      operationId: redeemPromotionCode
      summary: Redeem a promotion code against a charge or invoice
      tags:
      - Coupons
      description: 'Apply a promotion code to a gross amount. Returns the discount amount, the

        new net amount, and the redemption record. Increments the redeem counters

        on both the coupon and the promotion code atomically.


        Validates: code exists, coupon active, within validity window, not at

        redemption cap (global, per-code, per-customer), and (if restricted)

        matches the redeeming customer.'
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
