openapi: 3.2.0
info:
  title: Drip Usage API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Usage
  description: Record metered usage. Creates charges when a pricing plan matches.
paths:
  /v1/usage:
    post:
      operationId: recordUsage
      summary: Record usage and charge
      tags:
      - Usage
      description: 'Record a billable usage event and immediately charge the customer.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**


        This endpoint waits for on-chain confirmation before returning, ensuring

        the charge is settled. For faster responses, use `POST /v1/usage/async`.


        **x402 Payment Flow:**

        If the customer has insufficient balance, returns 402 with payment headers.

        The client can sign a payment with their session key and retry with

        `X-Payment-*` headers to complete the charge.


        **Idempotency:**

        Include an `idempotencyKey` to safely retry requests without duplicate charges.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*). One of customerId, externalCustomerId, or stripeCustomerId is required.
                  example: cus_abc123def456
                externalCustomerId:
                  type: string
                  maxLength: 255
                  description: Your own database's customer ID. If no Drip customer exists yet for (business, externalCustomerId), one is auto-provisioned as an internal customer on first use.
                  example: user_42
                stripeCustomerId:
                  type: string
                  pattern: ^cus_[A-Za-z0-9]+$
                  maxLength: 255
                  description: Stripe customer ID (`cus_…`) from your connected Stripe account. If no Drip customer exists yet for (business, stripeCustomerId), one is auto-provisioned and usage is forwarded to Stripe's Billing Meter Events. Intended for merchants who just finished Stripe OAuth, so you can start sending usage against Stripe IDs immediately without waiting for the background customer import.
                  example: cus_NffrFeUfNV2Hib
                usageType:
                  type: string
                  description: Usage type matching a pricing plan (defaults to "generic" if omitted)
                  example: api_call
                  default: generic
                quantity:
                  type: number
                  exclusiveMinimum: 0
                  description: Quantity of usage (defaults to 1 if omitted)
                  example: 100
                  default: 1
                units:
                  type: string
                  maxLength: 50
                  description: Human-readable unit label for display (e.g., "tokens", "API calls", "seconds")
                  example: API calls
                description:
                  type: string
                  maxLength: 500
                  description: Human-readable description for support/finance teams (e.g., "Chat completion for Customer XYZ")
                  example: 'Eligibility check for Pharmacy ABC (workflow: insurance_verify)'
                idempotencyKey:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Unique key to prevent duplicate charges. Required. Use a stable identifier like `{customerId}_{action}_{timestamp}` so retries produce the same key.
                  example: req_20240115_abc123
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata
                  example:
                    endpoint: /v1/chat
                    model: gpt-4
                workflowId:
                  type: string
                  description: Link this usage to a workflow
                runId:
                  type: string
                  description: Link this usage to an agent run
                eventType:
                  type: string
                  enum:
                  - USAGE
                  - INFERENCE
                  - TOOL_CALL
                  - DELEGATION
                  - RETRIEVAL
                  - CUSTOM
                  description: Classify the type of usage event
                actionName:
                  type: string
                  maxLength: 255
                  description: Name of the action performed (e.g., "chat_completion", "image_generation")
                outcome:
                  type: string
                  enum:
                  - SUCCEEDED
                  - FAILED
                  - PENDING
                  - SKIPPED
                  - CANCELLED
                  description: Outcome of the action
                explanation:
                  type: string
                  maxLength: 1000
                  description: Human-readable explanation of what happened
                parentEventId:
                  type: string
                  description: ID of the parent event (for building causality trees)
                retryOfEventId:
                  type: string
                  description: ID of the event this is retrying (for retry chain tracking)
                attemptNumber:
                  type: integer
                  minimum: 1
                  description: Attempt number (1 = first try, 2 = first retry, etc.)
                inputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the input for verification
                outputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the output for verification
                input:
                  type: object
                  additionalProperties: true
                  description: Raw input data (will be hashed for verification)
                output:
                  type: object
                  additionalProperties: true
                  description: Raw output data (will be hashed for verification)
              required:
              - idempotencyKey
      responses:
        '201':
          description: Usage recorded. Either an on-chain charge was created (charge object populated) or the customer has no on-chain address and the request was auto-promoted to internal/visibility mode (charge=null, mode=internal).
          content:
            application/json:
              schema:
                description: Usage recorded. Either an on-chain charge was created (charge object populated) or the customer has no on-chain address and the request was auto-promoted to internal/visibility mode (charge=null, mode=internal).
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  usageEventId:
                    type: string
                    description: Usage event ID
                  isDuplicate:
                    type: boolean
                    description: True if this was a duplicate request matched by idempotencyKey
                    example: false
                  charge:
                    type: object
                    nullable: true
                    description: Populated when the customer has an on-chain address and a charge was created. `null` when the request was recorded as internal/visibility usage (no billing).
                    properties:
                      id:
                        type: string
                        description: Charge ID
                      amountUsdc:
                        type: string
                        description: Charge amount in USDC
                      amountToken:
                        type: string
                        description: Charge amount in token units
                      txHash:
                        type: string
                        nullable: true
                        description: Transaction hash
                      status:
                        type: string
                        enum:
                        - PENDING
                        - PENDING_SETTLEMENT
                        - CONFIRMED
                  mode:
                    type: string
                    enum:
                    - internal
                    nullable: true
                    description: Present when the request was recorded as internal/visibility usage.
                  autoPromoted:
                    type: boolean
                    nullable: true
                    description: True when /usage auto-promoted to /usage/internal because the customer has no on-chain address. Explicit internal customers get mode=internal with autoPromoted=false.
                  reason:
                    type: string
                    nullable: true
                    description: Human-readable explanation of why the request was routed to the internal path.
                  x402:
                    type: object
                    nullable: true
                    description: Present if payment was via x402 flow
                    properties:
                      paymentVerified:
                        type: boolean
                      sessionKeyId:
                        type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '402':
          description: Payment required - insufficient balance. Includes x402 payment details for automatic payment flow.
          content:
            application/json:
              schema:
                description: Payment required - insufficient balance. Includes x402 payment details for automatic payment flow.
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    example: PAYMENT_REQUIRED
                  payment:
                    type: object
                    description: Payment details for x402 flow. Sign with session key and retry with X-Payment-* headers.
                    properties:
                      amount:
                        type: string
                        description: Amount required in USDC
                      recipient:
                        type: string
                        description: Payment recipient address
                      currency:
                        type: string
                        example: USDC
                      chain:
                        type: string
                        example: base-sepolia
                      description:
                        type: string
                        description: Human-readable charge description
                      usageId:
                        type: string
                        description: Unique usage identifier
                      expiresAt:
                        type: integer
                        description: Unix timestamp (seconds) when payment expires
                      timestamp:
                        type: integer
                        description: Unix timestamp (seconds) when request was created
                      nonce:
                        type: string
                        description: Unique nonce for replay protection
                  x402:
                    type: object
                    description: Full x402 protocol payload for client signing
                    properties:
                      version:
                        type: string
                        example: 1.0.0
                      paymentRequest:
                        type: object
                        description: Complete payment request to sign via EIP-712
                  serverTime:
                    type: object
                    description: Server time for client clock synchronization
                    properties:
                      seconds:
                        type: integer
                      milliseconds:
                        type: integer
                      iso:
                        type: string
                        format: date-time
                  checkout_url:
                    type: string
                    nullable: true
                    description: URL for balance top-up
        '403':
          description: Account paused — usage blocked until balance is restored
          content:
            application/json:
              schema:
                description: Account paused — usage blocked until balance is restored
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer or pricing plan not found
          content:
            application/json:
              schema:
                description: Customer or pricing plan not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
          content:
            application/json:
              schema:
                description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Billing temporarily paused or dependency unavailable
          content:
            application/json:
              schema:
                description: Billing temporarily paused or dependency unavailable
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listUsageEvents
      summary: List usage events
      tags:
      - Usage
      description: Retrieve recent usage events for your business, including associated charges.
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        name: limit
        required: false
        description: Maximum number of events to return
      - schema:
          type: string
        in: query
        name: customerId
        required: false
        description: Filter by customer ID
      responses:
        '200':
          description: List of usage events
          content:
            application/json:
              schema:
                description: List of usage events
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        customerId:
                          type: string
                        customer:
                          type: object
                          properties:
                            id:
                              type: string
                            onchainAddress:
                              type: string
                            externalCustomerId:
                              type: string
                              nullable: true
                        usageType:
                          type: string
                        quantity:
                          type: string
                        description:
                          type: string
                          nullable: true
                          description: Human-readable description of the usage event
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                        createdAt:
                          type: string
                          format: date-time
                        charge:
                          type: object
                          nullable: true
                          properties:
                            id:
                              type: string
                            amountUsdc:
                              type: string
                            txHash:
                              type: string
                              nullable: true
                            status:
                              type: string
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/usage/async:
    post:
      operationId: recordUsageAsync
      summary: Record usage (async)
      tags:
      - Usage
      description: 'Record a billable usage event and return immediately without waiting for settlement.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**


        The charge will be processed in the background. Subscribe to webhooks

        (`charge.succeeded`, `charge.failed`) to get notified of the final status.


        Use this endpoint when you need fast response times and can handle

        eventual consistency via webhooks.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*). One of customerId, externalCustomerId, or stripeCustomerId is required.
                  example: cus_abc123def456
                externalCustomerId:
                  type: string
                  maxLength: 255
                  description: Your own database's customer ID. If no Drip customer exists yet for (business, externalCustomerId), one is auto-provisioned as an internal customer on first use.
                  example: user_42
                stripeCustomerId:
                  type: string
                  pattern: ^cus_[A-Za-z0-9]+$
                  maxLength: 255
                  description: Stripe customer ID (`cus_…`) from your connected Stripe account. If no Drip customer exists yet for (business, stripeCustomerId), one is auto-provisioned and usage is forwarded to Stripe's Billing Meter Events. Intended for merchants who just finished Stripe OAuth, so you can start sending usage against Stripe IDs immediately without waiting for the background customer import.
                  example: cus_NffrFeUfNV2Hib
                usageType:
                  type: string
                  description: Usage type matching a pricing plan (defaults to "generic" if omitted)
                  example: api_call
                  default: generic
                quantity:
                  type: number
                  exclusiveMinimum: 0
                  description: Quantity of usage (defaults to 1 if omitted)
                  example: 100
                  default: 1
                units:
                  type: string
                  maxLength: 50
                  description: Human-readable unit label for display (e.g., "tokens", "API calls", "seconds")
                  example: API calls
                description:
                  type: string
                  maxLength: 500
                  description: Human-readable description for support/finance teams (e.g., "Chat completion for Customer XYZ")
                  example: 'Eligibility check for Pharmacy ABC (workflow: insurance_verify)'
                idempotencyKey:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Unique key to prevent duplicate charges. Required. Use a stable identifier like `{customerId}_{action}_{timestamp}` so retries produce the same key.
                  example: req_20240115_abc123
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata
                  example:
                    endpoint: /v1/chat
                    model: gpt-4
                workflowId:
                  type: string
                  description: Link this usage to a workflow
                runId:
                  type: string
                  description: Link this usage to an agent run
                eventType:
                  type: string
                  enum:
                  - USAGE
                  - INFERENCE
                  - TOOL_CALL
                  - DELEGATION
                  - RETRIEVAL
                  - CUSTOM
                  description: Classify the type of usage event
                actionName:
                  type: string
                  maxLength: 255
                  description: Name of the action performed (e.g., "chat_completion", "image_generation")
                outcome:
                  type: string
                  enum:
                  - SUCCEEDED
                  - FAILED
                  - PENDING
                  - SKIPPED
                  - CANCELLED
                  description: Outcome of the action
                explanation:
                  type: string
                  maxLength: 1000
                  description: Human-readable explanation of what happened
                parentEventId:
                  type: string
                  description: ID of the parent event (for building causality trees)
                retryOfEventId:
                  type: string
                  description: ID of the event this is retrying (for retry chain tracking)
                attemptNumber:
                  type: integer
                  minimum: 1
                  description: Attempt number (1 = first try, 2 = first retry, etc.)
                inputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the input for verification
                outputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the output for verification
                input:
                  type: object
                  additionalProperties: true
                  description: Raw input data (will be hashed for verification)
                output:
                  type: object
                  additionalProperties: true
                  description: Raw output data (will be hashed for verification)
              required:
              - idempotencyKey
      responses:
        '202':
          description: Usage recorded, charge queued
          content:
            application/json:
              schema:
                description: Usage recorded, charge queued
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  usageEventId:
                    type: string
                    description: Usage event ID
                  isDuplicate:
                    type: boolean
                    description: True if this was a duplicate request matched by idempotencyKey
                    example: false
                  charge:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Charge ID
                      amountUsdc:
                        type: string
                        description: Charge amount in USDC
                      status:
                        type: string
                        enum:
                        - PENDING
                        - CONFIRMED
                        example: PENDING
                      estimatedConfirmationTime:
                        type: string
                        nullable: true
                        description: Human-readable estimate of when the charge will be confirmed (e.g. "~15 seconds", "already confirmed")
                  message:
                    type: string
                    example: Charge queued for processing. Subscribe to webhooks for status updates.
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Account paused — usage blocked until balance is restored
          content:
            application/json:
              schema:
                description: Account paused — usage blocked until balance is restored
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer or pricing plan not found
          content:
            application/json:
              schema:
                description: Customer or pricing plan not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
          content:
            application/json:
              schema:
                description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Billing temporarily paused or dependency unavailable
          content:
            application/json:
              schema:
                description: Billing temporarily paused or dependency unavailable
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/usage/internal:
    post:
      operationId: recordInternalUsage
      summary: Record internal usage (no billing)
      tags:
      - Usage
      description: 'Record a usage event for internal visibility tracking only. No billing or charges are created.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**


        **Use cases:**

        - Track internal team usage without charging

        - Pilot programs where you want visibility before billing

        - Usage tracking before customer has on-chain wallet setup


        This endpoint:

        - Does NOT create a Charge record

        - Does NOT require customer balance

        - Does NOT require blockchain/wallet setup for internal customers

        - Works with both internal and regular customers


        For billing customers, use `POST /v1/usage` or `POST /v1/usage/async` instead.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*). One of customerId, externalCustomerId, or stripeCustomerId is required.
                  example: cus_abc123def456
                externalCustomerId:
                  type: string
                  maxLength: 255
                  description: Your own database's customer ID. If no Drip customer exists yet for (business, externalCustomerId), one is auto-provisioned as an internal customer on first use.
                  example: user_42
                stripeCustomerId:
                  type: string
                  pattern: ^cus_[A-Za-z0-9]+$
                  maxLength: 255
                  description: Stripe customer ID (`cus_…`) from your connected Stripe account. If no Drip customer exists yet for (business, stripeCustomerId), one is auto-provisioned and usage is forwarded to Stripe's Billing Meter Events. Intended for merchants who just finished Stripe OAuth, so you can start sending usage against Stripe IDs immediately without waiting for the background customer import.
                  example: cus_NffrFeUfNV2Hib
                usageType:
                  type: string
                  description: Usage type matching a pricing plan (defaults to "generic" if omitted)
                  example: api_call
                  default: generic
                quantity:
                  type: number
                  exclusiveMinimum: 0
                  description: Quantity of usage (defaults to 1 if omitted)
                  example: 100
                  default: 1
                units:
                  type: string
                  maxLength: 50
                  description: Human-readable unit label for display (e.g., "tokens", "API calls", "seconds")
                  example: API calls
                description:
                  type: string
                  maxLength: 500
                  description: Human-readable description for support/finance teams (e.g., "Chat completion for Customer XYZ")
                  example: 'Eligibility check for Pharmacy ABC (workflow: insurance_verify)'
                idempotencyKey:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Unique key to prevent duplicate charges. Required. Use a stable identifier like `{customerId}_{action}_{timestamp}` so retries produce the same key.
                  example: req_20240115_abc123
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata
                  example:
                    endpoint: /v1/chat
                    model: gpt-4
                workflowId:
                  type: string
                  description: Link this usage to a workflow
                runId:
                  type: string
                  description: Link this usage to an agent run
                eventType:
                  type: string
                  enum:
                  - USAGE
                  - INFERENCE
                  - TOOL_CALL
                  - DELEGATION
                  - RETRIEVAL
                  - CUSTOM
                  description: Classify the type of usage event
                actionName:
                  type: string
                  maxLength: 255
                  description: Name of the action performed (e.g., "chat_completion", "image_generation")
                outcome:
                  type: string
                  enum:
                  - SUCCEEDED
                  - FAILED
                  - PENDING
                  - SKIPPED
                  - CANCELLED
                  description: Outcome of the action
                explanation:
                  type: string
                  maxLength: 1000
                  description: Human-readable explanation of what happened
                parentEventId:
                  type: string
                  description: ID of the parent event (for building causality trees)
                retryOfEventId:
                  type: string
                  description: ID of the event this is retrying (for retry chain tracking)
                attemptNumber:
                  type: integer
                  minimum: 1
                  description: Attempt number (1 = first try, 2 = first retry, etc.)
                inputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the input for verification
                outputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the output for verification
                input:
                  type: object
                  additionalProperties: true
                  description: Raw input data (will be hashed for verification)
                output:
                  type: object
                  additionalProperties: true
                  description: Raw output data (will be hashed for verification)
              required:
              - idempotencyKey
      responses:
        '201':
          description: Internal usage recorded
          content:
            application/json:
              schema:
                description: Internal usage recorded
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  usageEventId:
                    type: string
                    description: Usage event ID
                  customerId:
                    type: string
                    description: Customer ID
                  usageType:
                    type: string
                    description: Type of usage
                  quantity:
                    type: number
                    description: Quantity recorded
                  units:
                    type: string
                    nullable: true
                    description: Human-readable unit label
                  description:
                    type: string
                    nullable: true
                    description: Human-readable event description
                  isInternal:
                    type: boolean
                    description: Whether customer is internal-only
                  message:
                    type: string
                    example: Usage recorded for internal visibility (no charge created)
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
          content:
            application/json:
              schema:
                description: Rate limit exceeded. Retry after the duration specified in the Retry-After header.
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Billing temporarily paused or dependency unavailable
          content:
            application/json:
              schema:
                description: Billing temporarily paused or dependency unavailable
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/usage/internal/batch:
    post:
      operationId: recordInternalUsageBatch
      summary: Record internal usage (batched, high throughput)
      tags:
      - Usage
      description: 'Batch-optimized variant of `POST /v1/usage/internal`.


        Events are buffered in memory and flushed to the database every ~2 seconds

        using a single bulk INSERT. This reduces per-event DB overhead by ~99% and

        is designed for customers sending 1M+ events/day.


        Returns 202 immediately. The event will be persisted within 2 seconds.

        Idempotency is still enforced via `idempotencyKey` — duplicates are

        silently skipped during the bulk insert.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*). One of customerId, externalCustomerId, or stripeCustomerId is required.
                  example: cus_abc123def456
                externalCustomerId:
                  type: string
                  maxLength: 255
                  description: Your own database's customer ID. If no Drip customer exists yet for (business, externalCustomerId), one is auto-provisioned as an internal customer on first use.
                  example: user_42
                stripeCustomerId:
                  type: string
                  pattern: ^cus_[A-Za-z0-9]+$
                  maxLength: 255
                  description: Stripe customer ID (`cus_…`) from your connected Stripe account. If no Drip customer exists yet for (business, stripeCustomerId), one is auto-provisioned and usage is forwarded to Stripe's Billing Meter Events. Intended for merchants who just finished Stripe OAuth, so you can start sending usage against Stripe IDs immediately without waiting for the background customer import.
                  example: cus_NffrFeUfNV2Hib
                usageType:
                  type: string
                  description: Usage type matching a pricing plan (defaults to "generic" if omitted)
                  example: api_call
                  default: generic
                quantity:
                  type: number
                  exclusiveMinimum: 0
                  description: Quantity of usage (defaults to 1 if omitted)
                  example: 100
                  default: 1
                units:
                  type: string
                  maxLength: 50
                  description: Human-readable unit label for display (e.g., "tokens", "API calls", "seconds")
                  example: API calls
                description:
                  type: string
                  maxLength: 500
                  description: Human-readable description for support/finance teams (e.g., "Chat completion for Customer XYZ")
                  example: 'Eligibility check for Pharmacy ABC (workflow: insurance_verify)'
                idempotencyKey:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: Unique key to prevent duplicate charges. Required. Use a stable identifier like `{customerId}_{action}_{timestamp}` so retries produce the same key.
                  example: req_20240115_abc123
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata
                  example:
                    endpoint: /v1/chat
                    model: gpt-4
                workflowId:
                  type: string
                  description: Link this usage to a workflow
                runId:
                  type: string
                  description: Link this usage to an agent run
                eventType:
                  type: string
                  enum:
                  - USAGE
                  - INFERENCE
                  - TOOL_CALL
                  - DELEGATION
                  - RETRIEVAL
                  - CUSTOM
                  description: Classify the type of usage event
                actionName:
                  type: string
                  maxLength: 255
                  description: Name of the action performed (e.g., "chat_completion", "image_generation")
                outcome:
                  type: string
                  enum:
                  - SUCCEEDED
                  - FAILED
                  - PENDING
                  - SKIPPED
                  - CANCELLED
                  description: Outcome of the action
                explanation:
                  type: string
                  maxLength: 1000
                  description: Human-readable explanation of what happened
                parentEventId:
                  type: string
                  description: ID of the parent event (for building causality trees)
                retryOfEventId:
                  type: string
                  description: ID of the event this is retrying (for retry chain tracking)
                attemptNumber:
                  type: integer
                  minimum: 1
                  description: Attempt number (1 = first try, 2 = first retry, etc.)
                inputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the input for verification
                outputHash:
                  type: string
                  maxLength: 64
                  description: SHA-256 hash of the output for verification
                input:
                  type: object
                  additionalProperties: true
                  description: Raw input data (will be hashed for verification)
                output:
                  type: object
                  additionalProperties: true
                  description: Raw output data (will be hashed for verification)
              required:
              - idempotencyKey
      responses:
        '202':
          description: Usage accepted for batched insert
          content:
            application/json:
              schema:
                description: Usage accepted for batched insert
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  customerId:
                    type: string
                  usageType:
                    type: string
                  quantity:
                    type: number
                  idempotencyKey:
                    type: string
                  pendingEvents:
                    type: integer
                    description: Number of events waiting to be flushed
                  message:
                    type: string
                    example: Event queued for batched insert (~2s)
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/usage/quota:
    get:
      operationId: getUsageQuota
      summary: Get current-month event usage vs plan quota (API-key auth)
      tags:
      - Usage
      description: Safe to poll every few seconds — the underlying count is cached 30s per business. Response includes `resetAt` (ISO) and `overagePerEventUsd`; use `exceeded` as the gate signal.
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
