openapi: 3.2.0
info:
  title: Drip Tax API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Tax
  description: 'Sales tax configuration: customer tax addresses, exemptions, business registrations, and jurisdiction rates. Requires a secret key with ADMIN role and full mode (`SIMPLE_MODE=false`).'
paths:
  /v1/customers/{id}/address:
    put:
      operationId: setCustomerAddress
      summary: Set a customer's billing address
      tags:
      - Tax
      description: 'Set or replace the customer''s billing address. Triggers address validation via the configured provider (default: format-only). Requires an ADMIN secret key.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    get:
      operationId: getCustomerAddress
      summary: Get the customer's stored address
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    delete:
      operationId: removeCustomerAddress
      summary: Remove the customer's address
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/tax-exemption:
    post:
      operationId: createCustomerTaxExemption
      summary: Create a customer tax exemption
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/tax-exemptions:
    get:
      operationId: listCustomerTaxExemptions
      summary: List active tax exemptions for a customer
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/tax-exemptions/{eid}:
    delete:
      operationId: removeCustomerTaxExemption
      summary: Deactivate a customer tax exemption
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: eid
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/tax-preview:
    post:
      operationId: previewCustomerTax
      summary: Preview tax for a hypothetical charge amount
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/tax-registrations:
    post:
      operationId: createTaxRegistration
      summary: Create a tax registration for the business
      tags:
      - Tax
      responses:
        '200':
          description: Default Response
    get:
      operationId: listTaxRegistrations
      summary: List active tax registrations for the business
      tags:
      - Tax
      responses:
        '200':
          description: Default Response
  /v1/tax-registrations/{id}:
    delete:
      operationId: removeTaxRegistration
      summary: Deactivate a tax registration
      tags:
      - Tax
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/tax-rates:
    get:
      operationId: listTaxRates
      summary: List the seeded global tax rate catalogue
      tags:
      - Tax
      responses:
        '200':
          description: Default Response
  /v1/tax-config/readiness:
    get:
      operationId: getTaxConfigReadiness
      summary: Check whether the merchant's tax configuration is production-ready
      tags:
      - Tax
      description: 'Returns a structured report of the merchant''s tax setup: active registrations, customer address coverage, uncovered jurisdictions, and actionable warnings with stable codes. Non-enforcing — merchants can always bill; this is a configuration quality check, not a gate.'
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
