openapi: 3.2.0
info:
  title: Drip Subscriptions API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Subscriptions
  description: Recurring billing and subscription lifecycle management.
paths:
  /v1/subscriptions:
    post:
      operationId: createSubscription
      summary: Create a subscription
      tags:
      - Subscriptions
      description: Create a recurring billing subscription for a customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - name
              - interval
              - priceUsdc
              properties:
                customerId:
                  type: string
                  description: Customer ID
                name:
                  type: string
                  minLength: 1
                  maxLength: 200
                  description: Subscription name
                description:
                  type: string
                  maxLength: 1000
                  description: Optional description
                interval:
                  type: string
                  enum:
                  - DAILY
                  - WEEKLY
                  - MONTHLY
                  - ANNUAL
                  description: Billing interval
                priceUsdc:
                  type: number
                  exclusiveMinimum: 0
                  description: Price per interval in USDC
                metadata:
                  type: object
                  description: Custom metadata
                trialDays:
                  type: integer
                  minimum: 1
                  maximum: 365
                  description: Trial period in days (1-365)
                includedUsage:
                  type: integer
                  description: Included usage units per period
                overageUnitType:
                  type: string
                  description: Usage type for overage metering
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                description: Subscription created
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listSubscriptions
      summary: List subscriptions
      tags:
      - Subscriptions
      description: List all subscriptions for your business.
      parameters:
      - schema:
          type: string
        in: query
        name: customerId
        required: false
        description: Filter by customer ID
      - schema:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - CANCELLED
          - EXPIRED
          - PAST_DUE
          - TRIALING
        in: query
        name: status
        required: false
        description: Filter by status
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        name: limit
        required: false
        description: Maximum results
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                description: List of subscriptions
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/subscriptions/{id}:
    get:
      operationId: getSubscription
      summary: Get a subscription
      tags:
      - Subscriptions
      description: Get details for a specific subscription.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Subscription ID
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                description: Subscription details
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                description: Subscription not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    patch:
      operationId: updateSubscription
      summary: Update a subscription
      tags:
      - Subscriptions
      description: Update a subscription. Price changes take effect at the next billing period.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                priceUsdc:
                  type: number
                metadata:
                  type: object
                includedUsage:
                  type: integer
                overageUnitType:
                  type: string
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Subscription ID
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema:
                description: Updated subscription
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                description: Subscription not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/subscriptions/{id}/cancel:
    post:
      operationId: cancelSubscription
      summary: Cancel a subscription
      tags:
      - Subscriptions
      description: Cancel a subscription. By default, cancels at the end of the current billing period.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                immediate:
                  type: boolean
                  default: false
                  description: Cancel immediately instead of at period end
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Subscription ID
      responses:
        '200':
          description: Subscription cancelled
          content:
            application/json:
              schema:
                description: Subscription cancelled
                type: object
                additionalProperties: true
        '400':
          description: Invalid state
          content:
            application/json:
              schema:
                description: Invalid state
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                description: Subscription not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/subscriptions/{id}/pause:
    post:
      operationId: pauseSubscription
      summary: Pause a subscription
      tags:
      - Subscriptions
      description: Pause an active subscription. No charges will be created while paused.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resumeDate:
                  type: string
                  format: date-time
                  description: Auto-resume date (optional)
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Subscription ID
      responses:
        '200':
          description: Subscription paused
          content:
            application/json:
              schema:
                description: Subscription paused
                type: object
                additionalProperties: true
        '400':
          description: Invalid state
          content:
            application/json:
              schema:
                description: Invalid state
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                description: Subscription not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/subscriptions/{id}/resume:
    post:
      operationId: resumeSubscription
      summary: Resume a subscription
      tags:
      - Subscriptions
      description: Resume a paused subscription. Starts a new billing period.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Subscription ID
      responses:
        '200':
          description: Subscription resumed
          content:
            application/json:
              schema:
                description: Subscription resumed
                type: object
                additionalProperties: true
        '400':
          description: Invalid state
          content:
            application/json:
              schema:
                description: Invalid state
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                description: Subscription not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
