openapi: 3.2.0
info:
  title: Drip Events API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Events
  description: Record execution events for observability.
paths:
  /v1/customers/{customerId}/events:
    get:
      operationId: getCustomerEvents
      summary: Get customer events
      tags:
      - Events
      description: Get events for a customer with optional filters.
      parameters:
      - schema:
          type: string
        in: query
        name: workflowId
        required: false
      - schema:
          type: string
        in: query
        name: eventType
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: from
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: to
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
        in: query
        name: limit
        required: false
      - schema:
          type: string
        in: path
        name: customerId
        required: true
      responses:
        '200':
          description: Customer events
          content:
            application/json:
              schema:
                description: Customer events
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        quantity:
                          type: number
                        units:
                          type: string
                          nullable: true
                        costUnits:
                          type: number
                          nullable: true
                        runId:
                          type: string
                          nullable: true
                        timestamp:
                          type: string
                          format: date-time
                  totals:
                    type: object
                    properties:
                      eventCount:
                        type: integer
                      totalQuantity:
                        type: string
                      totalCostUnits:
                        type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/events:
    post:
      operationId: createEvent
      summary: Record an execution event
      tags:
      - Events
      description: 'Record what happened. Only 2 fields required: `customerId` and `idempotencyKey`.


        All other fields are optional with smart defaults. If you provide `input` or `output` payloads, they are automatically stored for later retrieval via `GET /events/:id/payload` (no need to set `storePayloads: true`).


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - idempotencyKey
              properties:
                customerId:
                  type: string
                  description: Drip customer ID (cus_*). Either customerId or externalCustomerId is required.
                  example: cus_abc123
                externalCustomerId:
                  type: string
                  maxLength: 255
                  description: Your own database's customer ID. If no Drip customer exists yet for (business, externalCustomerId), one is auto-provisioned as an internal customer. Either customerId or externalCustomerId is required.
                  example: user_42
                idempotencyKey:
                  type: string
                  description: Unique key (same key = same result)
                  example: req_123
                actionName:
                  type: string
                  description: What action was performed (defaults to eventType name if omitted)
                  example: api_call
                outcome:
                  type: string
                  enum:
                  - PENDING
                  - SUCCEEDED
                  - FAILED
                  - SKIPPED
                  - RETRIED
                  - TIMEOUT
                  - CANCELLED
                  description: SUCCEEDED, FAILED, PENDING, SKIPPED, RETRIED, TIMEOUT, CANCELLED
                  example: SUCCEEDED
                explanation:
                  type: string
                  maxLength: 2000
                  description: Human-readable note
                  example: Processed request successfully
                metadata:
                  type: object
                  additionalProperties: true
                  description: Any extra data you want to attach
                quantity:
                  type: number
                  description: 'For billing: how many units'
                  example: 100
                usageType:
                  type: string
                  maxLength: 100
                  description: Usage type for billing (matches pricing plan)
                units:
                  type: string
                  maxLength: 50
                  description: Human-readable unit label (e.g., "tokens", "API calls")
                description:
                  type: string
                  maxLength: 500
                  description: Description for support/finance
                eventType:
                  type: string
                  enum:
                  - USAGE
                  - API_CALL
                  - LLM_INFERENCE
                  - TOOL_CALL
                  - DATABASE
                  - FILE_IO
                  - NETWORK
                  - DECISION
                  - HUMAN_IN_LOOP
                  - MEMORY
                  - CUSTOM
                  - TOOL_CALL_START
                  - TOOL_CALL_END
                  - TOOL_CALL_ERROR
                  - TOOL_CALL_RETRY
                  - TRAINING
                  - FINE_TUNING
                  description: Event category
                  example: API_CALL
                runId:
                  type: string
                  description: Group events into a run
                parentEventId:
                  type: string
                  description: Link to parent event
                correlationId:
                  type: string
                  maxLength: 255
                  description: Cross-service tracing ID
                inputHash:
                  type: string
                  maxLength: 128
                  description: SHA-256 hash of input
                outputHash:
                  type: string
                  maxLength: 128
                  description: SHA-256 hash of output
                input:
                  type: object
                  additionalProperties: true
                  description: Raw input (will be hashed)
                output:
                  type: object
                  additionalProperties: true
                  description: Raw output (will be hashed)
                workflowId:
                  type: string
                  description: Link to a workflow
                retryOfEventId:
                  type: string
                  description: ID of event being retried
                attemptNumber:
                  type: integer
                  minimum: 1
                  description: Attempt number (1 = first try)
                spanId:
                  type: string
                  maxLength: 64
                  description: Span ID for distributed tracing
                spanKind:
                  type: string
                  enum:
                  - TOOL
                  - LLM
                  - CHAIN
                  - AGENT
                  - RETRIEVER
                  - EMBEDDING
                  - INTERNAL
                  description: OpenTelemetry-inspired span classification
                inputBytes:
                  type: integer
                  minimum: 0
                  description: Input size in bytes
                outputBytes:
                  type: integer
                  minimum: 0
                  description: Output size in bytes
                queueDurationMs:
                  type: integer
                  minimum: 0
                  description: Time spent in queue (ms)
                executionDurationMs:
                  type: integer
                  minimum: 0
                  description: Execution time (ms)
                startedAt:
                  type: string
                  format: date-time
                  description: When execution started
                endedAt:
                  type: string
                  format: date-time
                  description: When execution ended
                errorType:
                  type: string
                  maxLength: 100
                  description: Error class/type
                errorMessage:
                  type: string
                  maxLength: 2000
                  description: Error message
                errorStack:
                  type: string
                  maxLength: 10000
                  description: Stack trace
                retryCount:
                  type: integer
                  minimum: 0
                  description: Number of retries so far
                retryBackoffMs:
                  type: integer
                  minimum: 0
                  description: Backoff time before next retry (ms)
                retryReason:
                  type: string
                  maxLength: 500
                  description: Why the retry was triggered
                storePayloads:
                  type: boolean
                  description: Controls payload storage. Defaults to true when input/output are provided. Set to false to explicitly disable.
                  default: true
                payloadTtlSeconds:
                  type: integer
                  minimum: 1
                  description: 'TTL for stored payloads in seconds (default: 90 days)'
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                description: Event created successfully
                type: object
                properties:
                  id:
                    type: string
                    description: Event ID
                  eventType:
                    type: string
                    enum:
                    - USAGE
                    - API_CALL
                    - LLM_INFERENCE
                    - TOOL_CALL
                    - DATABASE
                    - FILE_IO
                    - NETWORK
                    - DECISION
                    - HUMAN_IN_LOOP
                    - MEMORY
                    - CUSTOM
                    - TOOL_CALL_START
                    - TOOL_CALL_END
                    - TOOL_CALL_ERROR
                    - TOOL_CALL_RETRY
                    - TRAINING
                    - FINE_TUNING
                  actionName:
                    type: string
                  outcome:
                    type: string
                    enum:
                    - PENDING
                    - SUCCEEDED
                    - FAILED
                    - SKIPPED
                    - RETRIED
                    - TIMEOUT
                    - CANCELLED
                  idempotencyKey:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  wasIdempotentReplay:
                    type: boolean
                    description: True if this was a duplicate request
                  receipt:
                    type: object
                    description: Signed receipt proving Drip acknowledged this event
                    properties:
                      batchId:
                        type: string
                        description: Idempotency key for this submission
                      eventCount:
                        type: integer
                        description: Number of events (1 for single event)
                      batchHash:
                        type: string
                        description: SHA-256 hash of the event data
                      receivedAt:
                        type: string
                        format: date-time
                        description: When Drip received the event
                      signature:
                        type: string
                        description: Server signature of the receipt
                      signerAddress:
                        type: string
                        description: Address that signed the receipt
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer or referenced event not found
          content:
            application/json:
              schema:
                description: Customer or referenced event not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: Service temporarily unavailable — retry with backoff
          content:
            application/json:
              schema:
                description: Service temporarily unavailable — retry with backoff
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listEvents
      summary: List events
      tags:
      - Events
      description: 'List execution events with optional filters.


        Supports filtering by:

        - `customerId`: Events for a specific customer

        - `runId`: Events in a specific agent run

        - `workflowId`: Events in a specific workflow

        - `eventType`: Filter by event type (e.g., LLM_INFERENCE)

        - `outcome`: Filter by outcome (e.g., SUCCESS, FAILURE)

        - `actionName`: Filter by action name

        - `parentEventId`: Get child events

        - `idempotencyKey`: Exact match on idempotency key

        - Time range: `from` and `to` (ISO 8601)'
      parameters:
      - schema:
          type: string
        in: query
        name: customerId
        required: false
      - schema:
          type: string
        in: query
        name: runId
        required: false
      - schema:
          type: string
        in: query
        name: workflowId
        required: false
      - schema:
          type: string
          enum:
          - USAGE
          - API_CALL
          - LLM_INFERENCE
          - TOOL_CALL
          - DATABASE
          - FILE_IO
          - NETWORK
          - DECISION
          - HUMAN_IN_LOOP
          - MEMORY
          - CUSTOM
          - TOOL_CALL_START
          - TOOL_CALL_END
          - TOOL_CALL_ERROR
          - TOOL_CALL_RETRY
          - TRAINING
          - FINE_TUNING
        in: query
        name: eventType
        required: false
      - schema:
          type: string
          enum:
          - PENDING
          - SUCCEEDED
          - FAILED
          - SKIPPED
          - RETRIED
          - TIMEOUT
          - CANCELLED
        in: query
        name: outcome
        required: false
      - schema:
          type: string
        in: query
        name: actionName
        required: false
      - schema:
          type: string
        in: query
        name: parentEventId
        required: false
      - schema:
          type: string
        in: query
        name: idempotencyKey
        required: false
        description: Filter by idempotency key
      - schema:
          type: string
          format: date-time
        in: query
        name: from
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: to
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        in: query
        name: limit
        required: false
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      responses:
        '200':
          description: List of events with pagination
          content:
            application/json:
              schema:
                description: List of events with pagination
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        actionName:
                          type: string
                        outcome:
                          type: string
                        explanation:
                          type: string
                          nullable: true
                        idempotencyKey:
                          type: string
                          nullable: true
                          description: Client-provided idempotency key
                        customerId:
                          type: string
                        runId:
                          type: string
                          nullable: true
                        workflowId:
                          type: string
                          nullable: true
                        parentEventId:
                          type: string
                          nullable: true
                        retryOfEventId:
                          type: string
                          nullable: true
                        attemptNumber:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                        chargeId:
                          type: string
                          nullable: true
                        costUsdc:
                          type: string
                          nullable: true
                        usageType:
                          type: string
                          nullable: true
                        quantity:
                          type: string
                          nullable: true
                        units:
                          type: string
                          nullable: true
                        description:
                          type: string
                          nullable: true
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/events/{id}:
    get:
      operationId: getEvent
      summary: Get event details
      tags:
      - Events
      description: 'Retrieve a single event with full details including:

        - Execution metadata (eventType, outcome, explanation)

        - Input/output hashes

        - Causality links (parent, children, retry chain)

        - Billing information (if applicable)'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Event ID
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                description: Event details
                type: object
                properties:
                  id:
                    type: string
                  eventType:
                    type: string
                    enum:
                    - USAGE
                    - API_CALL
                    - LLM_INFERENCE
                    - TOOL_CALL
                    - DATABASE
                    - FILE_IO
                    - NETWORK
                    - DECISION
                    - HUMAN_IN_LOOP
                    - MEMORY
                    - CUSTOM
                    - TOOL_CALL_START
                    - TOOL_CALL_END
                    - TOOL_CALL_ERROR
                    - TOOL_CALL_RETRY
                    - TRAINING
                    - FINE_TUNING
                  actionName:
                    type: string
                  outcome:
                    type: string
                    enum:
                    - PENDING
                    - SUCCEEDED
                    - FAILED
                    - SKIPPED
                    - RETRIED
                    - TIMEOUT
                    - CANCELLED
                  explanation:
                    type: string
                    nullable: true
                  idempotencyKey:
                    type: string
                    nullable: true
                    description: Client-provided idempotency key
                  customerId:
                    type: string
                  runId:
                    type: string
                    nullable: true
                  workflowId:
                    type: string
                    nullable: true
                  parentEventId:
                    type: string
                    nullable: true
                  retryOfEventId:
                    type: string
                    nullable: true
                  attemptNumber:
                    type: integer
                  createdAt:
                    type: string
                    format: date-time
                  inputHash:
                    type: string
                    nullable: true
                  outputHash:
                    type: string
                    nullable: true
                  childEvents:
                    type: array
                    items:
                      type: string
                    description: IDs of events caused by this one
                  retriedBy:
                    type: string
                    nullable: true
                    description: ID of retry event if this failed
                  chargeId:
                    type: string
                    nullable: true
                  costUsdc:
                    type: string
                    nullable: true
                  usageType:
                    type: string
                    nullable: true
                  quantity:
                    type: string
                    nullable: true
                  units:
                    type: string
                    nullable: true
                  description:
                    type: string
                    nullable: true
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                description: Event not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/events/{id}/payload:
    get:
      operationId: getEventPayload
      summary: Get stored payloads for an event
      tags:
      - Events
      description: 'Retrieve raw input/output payloads that were stored when the event was created

        with `storePayloads: true`.


        Returns the full JSON payloads along with integrity hashes and size information.

        Returns 404 if no payloads were stored or if they have expired.


        **Use case**: Historical data replay, audit trails, debugging.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Event ID
      responses:
        '200':
          description: Stored payloads
          content:
            application/json:
              schema:
                description: Stored payloads
                type: object
                properties:
                  id:
                    type: string
                  usageEventId:
                    type: string
                  inputPayload:
                    type: object
                    nullable: true
                    additionalProperties: true
                  outputPayload:
                    type: object
                    nullable: true
                    additionalProperties: true
                  inputHash:
                    type: string
                    nullable: true
                  outputHash:
                    type: string
                    nullable: true
                  inputSizeBytes:
                    type: integer
                    nullable: true
                  outputSizeBytes:
                    type: integer
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  expiresAt:
                    type: string
                    format: date-time
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: No payload stored for this event
          content:
            application/json:
              schema:
                description: No payload stored for this event
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/events/{id}/trace:
    get:
      operationId: traceEvent
      summary: Trace event causality
      tags:
      - Events
      description: 'Get the full causality context for an event in a single API call.


        Returns:

        - **ancestors**: Parent chain from root to this event''s parent

        - **children**: Direct child events caused by this event

        - **retryChain**: Original event and all retry attempts

        - **anomalies**: Detected anomalies linked to this event

        - **summary**: Quick stats (counts, hasFailures flag)


        **Query Parameters:**

        - `format=tree` - Returns ASCII tree output for CLI/support tickets


        This is the primary debugging endpoint for tracing errors through the ledger.


        **Example use case**: Customer reports "my run failed at step 5"

        ```

        GET /v1/events/{failingEventId}/trace

        GET /v1/events/{failingEventId}/trace?format=tree

        ```

        Returns the complete context: what led to this event, what it triggered,

        whether it was retried, and any anomalies detected.'
      parameters:
      - schema:
          type: string
          enum:
          - json
          - tree
        in: query
        name: format
        required: false
        description: 'Output format (default: json)'
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Event ID to trace
      responses:
        '200':
          description: Full event trace with causality context
          content:
            application/json:
              schema:
                description: Full event trace with causality context
                type: object
                properties:
                  event:
                    type: object
                    description: The event being traced (full details)
                    properties:
                      id:
                        type: string
                      eventType:
                        type: string
                        enum:
                        - USAGE
                        - API_CALL
                        - LLM_INFERENCE
                        - TOOL_CALL
                        - DATABASE
                        - FILE_IO
                        - NETWORK
                        - DECISION
                        - HUMAN_IN_LOOP
                        - MEMORY
                        - CUSTOM
                        - TOOL_CALL_START
                        - TOOL_CALL_END
                        - TOOL_CALL_ERROR
                        - TOOL_CALL_RETRY
                        - TRAINING
                        - FINE_TUNING
                      actionName:
                        type: string
                      outcome:
                        type: string
                        enum:
                        - PENDING
                        - SUCCEEDED
                        - FAILED
                        - SKIPPED
                        - RETRIED
                        - TIMEOUT
                        - CANCELLED
                      explanation:
                        type: string
                        nullable: true
                      idempotencyKey:
                        type: string
                        nullable: true
                      customerId:
                        type: string
                      runId:
                        type: string
                        nullable: true
                      workflowId:
                        type: string
                        nullable: true
                      parentEventId:
                        type: string
                        nullable: true
                      retryOfEventId:
                        type: string
                        nullable: true
                      attemptNumber:
                        type: integer
                      createdAt:
                        type: string
                        format: date-time
                      inputHash:
                        type: string
                        nullable: true
                      outputHash:
                        type: string
                        nullable: true
                      childEvents:
                        type: array
                        items:
                          type: string
                      retriedBy:
                        type: string
                        nullable: true
                      chargeId:
                        type: string
                        nullable: true
                      costUsdc:
                        type: string
                        nullable: true
                      usageType:
                        type: string
                        nullable: true
                      quantity:
                        type: string
                        nullable: true
                      units:
                        type: string
                        nullable: true
                      description:
                        type: string
                        nullable: true
                      metadata:
                        type: object
                        nullable: true
                        additionalProperties: true
                      spanKind:
                        type: string
                        nullable: true
                      inputBytes:
                        type: integer
                        nullable: true
                      outputBytes:
                        type: integer
                        nullable: true
                      queueDurationMs:
                        type: integer
                        nullable: true
                      executionDurationMs:
                        type: integer
                        nullable: true
                      startedAt:
                        type: string
                        format: date-time
                        nullable: true
                      endedAt:
                        type: string
                        format: date-time
                        nullable: true
                      errorType:
                        type: string
                        nullable: true
                      errorMessage:
                        type: string
                        nullable: true
                      errorStack:
                        type: string
                        nullable: true
                      retryCount:
                        type: integer
                        nullable: true
                      retryBackoffMs:
                        type: integer
                        nullable: true
                      retryReason:
                        type: string
                        nullable: true
                  ancestors:
                    type: array
                    description: Parent chain from root to parent (ordered root → parent)
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        actionName:
                          type: string
                        outcome:
                          type: string
                        explanation:
                          type: string
                          nullable: true
                        attemptNumber:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                        costUsdc:
                          type: string
                          nullable: true
                  children:
                    type: array
                    description: Direct child events
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        actionName:
                          type: string
                        outcome:
                          type: string
                        explanation:
                          type: string
                          nullable: true
                        attemptNumber:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                        costUsdc:
                          type: string
                          nullable: true
                  retryChain:
                    type: object
                    description: Retry chain if this event was retried or is a retry
                    properties:
                      originalEvent:
                        type: object
                        nullable: true
                        additionalProperties: true
                        description: The original event that was retried
                      retries:
                        type: array
                        description: All retry attempts ordered by attemptNumber
                        items:
                          type: object
                          additionalProperties: true
                  anomalies:
                    type: array
                    description: Anomalies linked to this event or its retry chain
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        anomalyType:
                          type: string
                        severity:
                          type: string
                        detectedAt:
                          type: string
                          format: date-time
                        status:
                          type: string
                        metric:
                          type: string
                          nullable: true
                        expectedValue:
                          type: string
                          nullable: true
                        actualValue:
                          type: string
                          nullable: true
                  summary:
                    type: object
                    description: Quick summary statistics
                    properties:
                      totalAncestors:
                        type: integer
                      totalChildren:
                        type: integer
                      totalRetries:
                        type: integer
                      totalAnomalies:
                        type: integer
                      hasFailures:
                        type: boolean
                        description: True if any event in trace has FAILURE outcome
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                description: Event not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/trace/{correlationId}:
    get:
      operationId: traceByCorrelationId
      summary: Trace by correlation ID
      tags:
      - Events
      description: 'Trace events across multiple runs and services using a correlation ID.


        Returns all events that share the same correlation ID, grouped by run.

        Useful for debugging distributed agent workflows.


        **Example use case**: Tracing a request across multiple microservices

        ```

        GET /v1/trace/{correlationId}

        ```'
      parameters:
      - schema:
          type: string
          enum:
          - json
          - tree
        in: query
        name: format
        required: false
        description: 'Output format (default: json)'
      - schema:
          type: string
        in: path
        name: correlationId
        required: true
        description: Correlation ID to trace
      responses:
        '200':
          description: Events grouped by run with trace context
          content:
            application/json:
              schema:
                description: Events grouped by run with trace context
                type: object
                properties:
                  correlationId:
                    type: string
                  totalEvents:
                    type: integer
                  totalRuns:
                    type: integer
                  runs:
                    type: array
                    items:
                      type: object
                      properties:
                        runId:
                          type: string
                          nullable: true
                        workflowName:
                          type: string
                          nullable: true
                        status:
                          type: string
                          nullable: true
                        events:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              actionName:
                                type: string
                              outcome:
                                type: string
                              explanation:
                                type: string
                                nullable: true
                              timestamp:
                                type: string
                                format: date-time
                  anomalies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        severity:
                          type: string
                        detectedAt:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: No events found with this correlation ID
          content:
            application/json:
              schema:
                description: No events found with this correlation ID
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/events/payloads:
    get:
      operationId: listEventPayloads
      summary: List events with payloads (flat format)
      tags:
      - Events
      description: 'Returns events joined with their stored payloads in a flat, tabular format

        designed for data engineers and SQL-based workflows.


        Each row is a single event with its input/output payloads inlined.

        Only events that have stored payloads are returned (i.e., events created

        with `input` or `output` fields).


        **Filters:** `customerId`, `actionName`, `from`/`to` (ISO 8601 date range),

        `hasInput`, `hasOutput` (boolean).


        **Use cases:**

        - Export to data warehouses (BigQuery, Snowflake, Redshift)

        - Ad-hoc SQL analysis of event payloads

        - Training data extraction for ML pipelines

        - Compliance audits requiring full payload history'
      parameters:
      - schema:
          type: string
        in: query
        name: customerId
        required: false
        description: Filter by customer
      - schema:
          type: string
        in: query
        name: actionName
        required: false
        description: Filter by action name
      - schema:
          type: string
          enum:
          - USAGE
          - API_CALL
          - LLM_INFERENCE
          - TOOL_CALL
          - DATABASE
          - FILE_IO
          - NETWORK
          - DECISION
          - HUMAN_IN_LOOP
          - MEMORY
          - CUSTOM
          - TOOL_CALL_START
          - TOOL_CALL_END
          - TOOL_CALL_ERROR
          - TOOL_CALL_RETRY
          - TRAINING
          - FINE_TUNING
        in: query
        name: eventType
        required: false
        description: Filter by event type
      - schema:
          type: string
          format: date-time
        in: query
        name: from
        required: false
        description: Start of time range (inclusive)
      - schema:
          type: string
          format: date-time
        in: query
        name: to
        required: false
        description: End of time range (inclusive)
      - schema:
          type: boolean
        in: query
        name: hasInput
        required: false
        description: Only events with input payloads
      - schema:
          type: boolean
        in: query
        name: hasOutput
        required: false
        description: Only events with output payloads
      - schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
        in: query
        name: limit
        required: false
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      responses:
        '200':
          description: Flat list of events with inlined payloads
          content:
            application/json:
              schema:
                description: Flat list of events with inlined payloads
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        eventId:
                          type: string
                        customerId:
                          type: string
                        actionName:
                          type: string
                        eventType:
                          type: string
                        outcome:
                          type: string
                          nullable: true
                        quantity:
                          type: string
                        units:
                          type: string
                          nullable: true
                        idempotencyKey:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        inputPayload:
                          type: object
                          nullable: true
                          additionalProperties: true
                        outputPayload:
                          type: object
                          nullable: true
                          additionalProperties: true
                        inputHash:
                          type: string
                          nullable: true
                        outputHash:
                          type: string
                          nullable: true
                        inputSizeBytes:
                          type: integer
                          nullable: true
                        outputSizeBytes:
                          type: integer
                          nullable: true
                        payloadExpiresAt:
                          type: string
                          format: date-time
                          nullable: true
                        runId:
                          type: string
                          nullable: true
                        workflowId:
                          type: string
                          nullable: true
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                  sql_hint:
                    type: string
                    description: Example SQL query for this data set
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
