openapi: 3.2.0
info:
  title: Drip Workflows API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Workflows
  description: Define workflow templates for agent execution.
paths:
  /v1/workflows:
    post:
      operationId: createWorkflow
      summary: Create a workflow
      tags:
      - Workflows
      description: Create a new workflow definition for tracking agent runs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for creating a new workflow.
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Human-readable name for the workflow (required)
                slug:
                  type: string
                  minLength: 1
                  maxLength: 100
                  pattern: ^[a-z0-9_-]+$
                  description: URL-safe identifier - must be lowercase alphanumeric with underscores or hyphens (required)
                productSurface:
                  type: string
                  enum:
                  - API
                  - RPC
                  - WEBHOOK
                  - AGENT
                  - PIPELINE
                  - CUSTOM
                  description: Product category for dashboard grouping. Use API for REST APIs, RPC for blockchain calls, WEBHOOK for webhooks, AGENT for AI agents, PIPELINE for data pipelines, CUSTOM for other use cases.
                  default: CUSTOM
                chain:
                  type: string
                  enum:
                  - ETHEREUM
                  - SOLANA
                  - POLYGON
                  - ARBITRUM
                  - OPTIMISM
                  - BASE
                  - AVALANCHE
                  - BSC
                  description: Blockchain network (optional, for RPC workflows only)
                description:
                  type: string
                  maxLength: 1000
                  description: Optional description of what this workflow does
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata for custom tracking
              required:
              - name
              - slug
        description: Request body for creating a new workflow.
      responses:
        '201':
          description: Workflow created
          content:
            application/json:
              schema:
                description: Workflow created
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for the workflow
                  name:
                    type: string
                    description: Human-readable name for the workflow
                  slug:
                    type: string
                    description: URL-safe identifier (lowercase, alphanumeric, hyphens, underscores)
                  productSurface:
                    type: string
                    enum:
                    - API
                    - RPC
                    - WEBHOOK
                    - AGENT
                    - PIPELINE
                    - CUSTOM
                    description: Product category for dashboard grouping. API = REST API calls, RPC = Blockchain RPC calls, WEBHOOK = Webhook deliveries, AGENT = AI agent executions, PIPELINE = Data pipelines, CUSTOM = Custom workflows
                  chain:
                    type: string
                    enum:
                    - ETHEREUM
                    - SOLANA
                    - POLYGON
                    - ARBITRUM
                    - OPTIMISM
                    - BASE
                    - AVALANCHE
                    - BSC
                    nullable: true
                    description: Blockchain network for RPC workflows (optional)
                  description:
                    type: string
                    nullable: true
                    description: Optional description of what this workflow does
                  metadata:
                    type: object
                    additionalProperties: true
                    nullable: true
                    description: Optional metadata for custom tracking
                  isActive:
                    type: boolean
                    description: Whether this workflow is currently active
                  createdAt:
                    type: string
                    format: date-time
                    description: When the workflow was created
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the workflow was last updated
                required:
                - id
                - name
                - slug
                - productSurface
                - isActive
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '409':
          description: Workflow with this slug already exists
          content:
            application/json:
              schema:
                description: Workflow with this slug already exists
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listWorkflows
      summary: List workflows
      tags:
      - Workflows
      description: List all workflows for your business.
      parameters:
      - schema:
          type: string
          enum:
          - API
          - RPC
          - WEBHOOK
          - AGENT
          - PIPELINE
          - CUSTOM
        in: query
        name: productSurface
        required: false
      - schema:
          type: boolean
        in: query
        name: isActive
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        in: query
        name: limit
        required: false
      responses:
        '200':
          description: List of workflows
          content:
            application/json:
              schema:
                description: List of workflows
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                        productSurface:
                          type: string
                        description:
                          type: string
                          nullable: true
                        isActive:
                          type: boolean
                        runCount:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/workflows/{id}:
    get:
      operationId: getWorkflow
      summary: Get workflow
      tags:
      - Workflows
      description: Get a workflow by ID with usage statistics.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Workflow details
          content:
            application/json:
              schema:
                description: Workflow details
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  slug:
                    type: string
                  productSurface:
                    type: string
                  description:
                    type: string
                    nullable: true
                  metadata:
                    type: object
                    nullable: true
                  isActive:
                    type: boolean
                  stats:
                    type: object
                    properties:
                      totalRuns:
                        type: integer
                      completedRuns:
                        type: integer
                      failedRuns:
                        type: integer
                      totalEvents:
                        type: integer
                      totalCostUnits:
                        type: string
                  createdAt:
                    type: string
                    format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                description: Workflow not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    patch:
      operationId: updateWorkflow
      summary: Update workflow
      tags:
      - Workflows
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Workflow updated
          content:
            application/json:
              schema:
                description: Workflow updated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Workflow not found
          content:
            application/json:
              schema:
                description: Workflow not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
