openapi: 3.2.0
info:
  title: Drip Product Categories API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Product Categories
  description: Controlled taxonomy for strict-products governance. Groups pricing plans into service-line categories for ARR rollups and revenue reporting.
paths:
  /v1/product-categories:
    get:
      operationId: listProductCategories
      summary: List product categories
      tags:
      - Product Categories
      description: Return the controlled taxonomy used for strict-products governance. Includes archived categories by default so dashboards can render historical tags.
      parameters:
      - schema:
          type: boolean
        in: query
        name: includeArchived
        required: false
        description: Include soft-archived categories. Defaults to true.
      responses:
        '200':
          description: Default Response
    post:
      operationId: createProductCategory
      summary: Create a product category
      tags:
      - Product Categories
      description: Create a new product category. `key` must be unique per business and is immutable once created — downstream reporting rolls up by key.
      responses:
        '200':
          description: Default Response
  /v1/product-categories/{id}:
    patch:
      operationId: updateProductCategory
      summary: Update a product category
      tags:
      - Product Categories
      description: Update the name, description, GL code, or revenue class of a product category. The `key` is immutable — create a new category if the taxonomy needs to split.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    delete:
      operationId: archiveProductCategory
      summary: Archive a product category
      tags:
      - Product Categories
      description: Soft-archive the category. Archived categories cannot be attached to new pricing plans but stay linked to historical ones so reporting is stable. To restore, PATCH `archivedAt` back to null via the un-archive endpoint is NOT exposed — recreate a new category or use PATCH if un-archive support is added later.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
