openapi: 3.2.0
info:
  title: Drip Webhooks API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: Manage webhook endpoints for real-time event notifications.
paths:
  /v1/webhooks/events:
    get:
      operationId: listWebhookEventTypes
      summary: List webhook event types
      tags:
      - Webhooks
      description: Get all available webhook event types with descriptions. **Requires a secret key (sk_).** Public keys (pk_) will receive a 403 error.
      responses:
        '200':
          description: Available event types
          content:
            application/json:
              schema:
                description: Available event types
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: string
                    description: List of all available event types
                    example:
                    - charge.succeeded
                    - charge.failed
                    - customer.balance.low
                    - customer.deposit.confirmed
                  description:
                    type: object
                    additionalProperties:
                      type: string
                    description: Human-readable descriptions for each event type
                    example:
                      charge.succeeded: Charge confirmed on-chain - unlock service, update billing UI
                      charge.failed: Charge failed - trigger retries, alerts, user notification
                      customer.balance.low: Customer drops below configured threshold - prevent surprise outages
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks:
    post:
      operationId: createWebhook
      summary: Create a webhook
      tags:
      - Webhooks
      description: 'Create a new webhook endpoint to receive real-time event notifications. **Requires a secret key (sk_).**


        **Important:** The `secret` is only returned once on creation. Save it

        immediately for HMAC signature verification. Public keys (pk_) cannot access this endpoint.


        **Signature verification:**

        ```javascript

        const signature = crypto

        .createHmac(''sha256'', secret)

        .update(JSON.stringify(payload))

        .digest(''hex'');

        // Compare with X-Drip-Signature header

        ```'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Request body for creating a webhook endpoint.
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint URL. Must be publicly accessible and return 200 OK within 30 seconds.
                  example: https://api.example.com/webhooks/drip
                events:
                  type: array
                  description: Event types to subscribe to. Use ["*"] for all events.
                  items:
                    type: string
                  example:
                  - charge.succeeded
                  - charge.failed
                  - customer.balance.low
                description:
                  type: string
                  description: Optional description to help identify this webhook
                  example: Production billing notifications
              required:
              - url
              - events
        description: Request body for creating a webhook endpoint.
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                description: Webhook created
                type: object
                properties:
                  id:
                    type: string
                    description: Unique webhook identifier
                    example: whk_abc123def456
                  url:
                    type: string
                    format: uri
                    description: Your webhook endpoint
                    example: https://api.example.com/webhooks/drip
                  events:
                    type: array
                    items:
                      type: string
                    description: Subscribed event types
                    example:
                    - charge.succeeded
                    - charge.failed
                    - customer.balance.low
                  description:
                    type: string
                    nullable: true
                    description: Optional description
                    example: Production billing events
                  isActive:
                    type: boolean
                    description: Whether the webhook is active
                    example: true
                  secret:
                    type: string
                    description: HMAC secret for signature verification. SAVE THIS - it will not be shown again!
                    example: whsec_abcdef123456789...
                  createdAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00.000Z'
                  message:
                    type: string
                    description: Reminder to save the secret
                    example: Save the secret - it will not be shown again!
        '400':
          description: Invalid URL or events
          content:
            application/json:
              schema:
                description: Invalid URL or events
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listWebhooks
      summary: List webhooks
      tags:
      - Webhooks
      description: Get all webhooks for your business with delivery statistics. **Requires a secret key (sk_).** Public keys (pk_) will receive a 403 error.
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                description: List of webhooks
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique webhook identifier
                          example: whk_abc123def456
                        url:
                          type: string
                          format: uri
                          description: Endpoint URL that receives events
                          example: https://api.example.com/webhooks/drip
                        events:
                          type: array
                          items:
                            type: string
                          description: Event types this webhook subscribes to
                          example:
                          - charge.succeeded
                          - charge.failed
                        description:
                          type: string
                          nullable: true
                          description: Optional description
                          example: Production billing events
                        isActive:
                          type: boolean
                          description: Whether the webhook is active
                          example: true
                        healthStatus:
                          type: string
                          enum:
                          - HEALTHY
                          - DEGRADED
                          - UNHEALTHY
                          description: Health status from circuit breaker
                          example: HEALTHY
                        consecutiveFailures:
                          type: integer
                          description: Number of consecutive delivery failures
                          example: 0
                        lastHealthChange:
                          type: string
                          format: date-time
                          nullable: true
                          description: When health status last changed
                          example: null
                        createdAt:
                          type: string
                          format: date-time
                          example: '2024-01-15T10:30:00.000Z'
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2024-01-15T10:30:00.000Z'
                        stats:
                          type: object
                          description: Delivery statistics for this webhook
                          properties:
                            total:
                              type: integer
                              description: Total events sent
                              example: 1250
                            delivered:
                              type: integer
                              description: Successfully delivered
                              example: 1245
                            failed:
                              type: integer
                              description: Failed after retries
                              example: 3
                            pending:
                              type: integer
                              description: Currently retrying
                              example: 2
                  count:
                    type: integer
                    description: Total webhooks
                    example: 2
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}:
    get:
      operationId: getWebhook
      summary: Get a webhook
      tags:
      - Webhooks
      description: Retrieve a webhook by ID with delivery statistics. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                type: object
                description: Webhook details
                properties:
                  id:
                    type: string
                    description: Unique identifier for the webhook
                    example: whk_abc123def456
                  url:
                    type: string
                    format: uri
                    description: The HTTPS endpoint that receives webhook payloads
                    example: https://api.example.com/webhooks/drip
                  events:
                    type: array
                    description: List of event types this webhook subscribes to
                    items:
                      type: string
                      enum:
                      - charge.succeeded
                      - charge.failed
                      - charge.refunded
                      - usage.recorded
                      - customer.created
                      - customer.deposit.confirmed
                      - customer.withdraw.confirmed
                      - customer.balance.low
                      - customer.usage_cap.reached
                      - customer.spending.warning
                      - customer.spending.blocked
                      - customer.spending.exceeded
                      - webhook.endpoint.unhealthy
                      - api_key.created
                      - api_key.rotated
                      - pricing_plan.updated
                      - transaction.created
                      - transaction.pending
                      - transaction.confirmed
                      - transaction.failed
                      - contract.created
                      - contract.updated
                      - contract.cancelled
                      - subscription.created
                      - subscription.cancelled
                      - invoice.created
                      - invoice.issued
                      - invoice.paid
                      - invoice.voided
                      - entitlement_plan.created
                      - entitlement_plan.updated
                      - entitlement_plan.deleted
                      - customer.entitlement.assigned
                    example:
                    - charge.succeeded
                    - charge.failed
                    - customer.balance.low
                  isActive:
                    type: boolean
                    description: Whether the webhook is currently receiving events
                    example: true
                  secret:
                    type: string
                    description: Secret key for verifying webhook signatures (only returned on creation)
                    example: whsec_abc123...
                  description:
                    type: string
                    description: Optional description for this webhook
                    example: Production billing events
                  createdAt:
                    type: string
                    format: date-time
                    description: When the webhook was created
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - url
                - events
                - isActive
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Webhook not found
    patch:
      operationId: updateWebhook
      summary: Update a webhook
      tags:
      - Webhooks
      description: Update webhook URL, events, or status. **Requires a secret key (sk_).**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: New webhook URL
                events:
                  type: array
                  items:
                    type: string
                  description: Events to subscribe to
                description:
                  type: string
                isActive:
                  type: boolean
                  description: Enable/disable the webhook
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                type: object
                description: Webhook updated
                properties:
                  id:
                    type: string
                    description: Unique identifier for the webhook
                    example: whk_abc123def456
                  url:
                    type: string
                    format: uri
                    description: The HTTPS endpoint that receives webhook payloads
                    example: https://api.example.com/webhooks/drip
                  events:
                    type: array
                    description: List of event types this webhook subscribes to
                    items:
                      type: string
                      enum:
                      - charge.succeeded
                      - charge.failed
                      - charge.refunded
                      - usage.recorded
                      - customer.created
                      - customer.deposit.confirmed
                      - customer.withdraw.confirmed
                      - customer.balance.low
                      - customer.usage_cap.reached
                      - customer.spending.warning
                      - customer.spending.blocked
                      - customer.spending.exceeded
                      - webhook.endpoint.unhealthy
                      - api_key.created
                      - api_key.rotated
                      - pricing_plan.updated
                      - transaction.created
                      - transaction.pending
                      - transaction.confirmed
                      - transaction.failed
                      - contract.created
                      - contract.updated
                      - contract.cancelled
                      - subscription.created
                      - subscription.cancelled
                      - invoice.created
                      - invoice.issued
                      - invoice.paid
                      - invoice.voided
                      - entitlement_plan.created
                      - entitlement_plan.updated
                      - entitlement_plan.deleted
                      - customer.entitlement.assigned
                    example:
                    - charge.succeeded
                    - charge.failed
                    - customer.balance.low
                  isActive:
                    type: boolean
                    description: Whether the webhook is currently receiving events
                    example: true
                  secret:
                    type: string
                    description: Secret key for verifying webhook signatures (only returned on creation)
                    example: whsec_abc123...
                  description:
                    type: string
                    description: Optional description for this webhook
                    example: Production billing events
                  createdAt:
                    type: string
                    format: date-time
                    description: When the webhook was created
                    example: '2024-01-15T10:30:00.000Z'
                required:
                - id
                - url
                - events
                - isActive
        '400':
          description: Invalid URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Invalid URL
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Webhook not found
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook
      tags:
      - Webhooks
      description: Permanently delete a webhook. This cannot be undone. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '204':
          description: Webhook deleted
          content:
            application/json:
              schema:
                description: Webhook deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                description: Webhook not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}/rotate-secret:
    post:
      operationId: rotateWebhookSecret
      summary: Rotate webhook secret
      tags:
      - Webhooks
      description: 'Generate a new HMAC secret for signature verification. **Requires a secret key (sk_).**


        **Important:** The new secret is only returned once. Update your webhook

        handler immediately to use the new secret.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '200':
          description: New secret generated
          content:
            application/json:
              schema:
                description: New secret generated
                type: object
                properties:
                  secret:
                    type: string
                    description: New HMAC secret (only shown once!)
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                description: Webhook not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      tags:
      - Webhooks
      description: Get recent delivery attempts for a webhook. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        in: query
        name: limit
        required: false
        description: Maximum deliveries to return
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '200':
          description: List of deliveries
          content:
            application/json:
              schema:
                description: List of deliveries
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        eventType:
                          type: string
                        eventId:
                          type: string
                        status:
                          type: string
                          enum:
                          - PENDING
                          - DELIVERED
                          - FAILED
                        attempts:
                          type: integer
                        responseCode:
                          type: integer
                          nullable: true
                        errorMessage:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                        lastAttemptAt:
                          type: string
                          format: date-time
                          nullable: true
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                description: Webhook not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}/deliveries/{deliveryId}:
    get:
      operationId: getWebhookDelivery
      summary: Get a webhook delivery
      tags:
      - Webhooks
      description: Retrieve details for a single webhook delivery attempt. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      - schema:
          type: string
        in: path
        name: deliveryId
        required: true
        description: Delivery ID
      responses:
        '200':
          description: Delivery details
          content:
            application/json:
              schema:
                description: Delivery details
                type: object
                properties:
                  id:
                    type: string
                  eventType:
                    type: string
                  eventId:
                    type: string
                  status:
                    type: string
                    enum:
                    - PENDING
                    - DELIVERED
                    - FAILED
                  attempts:
                    type: integer
                  responseCode:
                    type: integer
                    nullable: true
                  errorMessage:
                    type: string
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  lastAttemptAt:
                    type: string
                    format: date-time
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook or delivery not found
          content:
            application/json:
              schema:
                description: Webhook or delivery not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}/deliveries/{deliveryId}/retry:
    post:
      operationId: retryWebhookDelivery
      summary: Retry a delivery
      tags:
      - Webhooks
      description: Manually retry a failed webhook delivery. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      - schema:
          type: string
        in: path
        name: deliveryId
        required: true
        description: Delivery ID
      responses:
        '200':
          description: Delivery queued for retry
          content:
            application/json:
              schema:
                description: Delivery queued for retry
                type: object
                properties:
                  message:
                    type: string
                  deliveryId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook or delivery not found
          content:
            application/json:
              schema:
                description: Webhook or delivery not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/webhooks/{id}/test:
    post:
      operationId: testWebhook
      summary: Test a webhook
      tags:
      - Webhooks
      description: Send a test event to verify the webhook endpoint is working. **Requires a secret key (sk_).**
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Webhook ID
      responses:
        '200':
          description: Test event sent
          content:
            application/json:
              schema:
                description: Test event sent
                type: object
                properties:
                  message:
                    type: string
                  deliveryId:
                    type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                    - DELIVERED
                    - FAILED
                    - NOT_SENT
                  responseCode:
                    type: integer
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Webhook not found
          content:
            application/json:
              schema:
                description: Webhook not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
