openapi: 3.2.0
info:
  title: Drip Dunning API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Dunning
  description: Automatic retry + dunning email flow for failed payments. Configure a per-business retry schedule, list failed charges in collections, and manually re-trigger retries.
paths:
  /v1/dunning/schedule:
    get:
      operationId: getDunningSchedule
      summary: Get the active dunning schedule
      tags:
      - Dunning
      description: Returns the per-business retry schedule. Falls back to the system default when no custom schedule is configured.
      responses:
        '200':
          description: Default Response
    put:
      operationId: upsertDunningSchedule
      summary: Upsert the dunning schedule for this business
      tags:
      - Dunning
      description: 'Create or replace the retry schedule. `retries` is an ordered list of steps, each with a `dayOffset` (days after `firstFailedAt`), a `retryPayment` flag, and an optional `emailTemplate` (`dunning_first_notice` | `dunning_second_notice` | `dunning_final_notice`). Steps must be strictly increasing by `dayOffset`. Set `isActive: false` to disable automatic retries without losing the schedule — manual retries via `POST /collections/{id}/retry` still work.'
      responses:
        '200':
          description: Default Response
  /v1/collections:
    get:
      operationId: listCollections
      summary: List failed payments in collections
      tags:
      - Dunning
      description: Returns failed charges currently in the dunning pipeline. Filter by `status` (`OPEN`, `RETRYING`, `RESOLVED`, `ABANDONED`, `CANCELLED`) and/or `customerId`. Each row includes `retryAttempts`, `nextRetryAt`, and `lastRetryError` so you can surface collections state in your own UI.
      responses:
        '200':
          description: Default Response
  /v1/collections/{id}:
    get:
      operationId: getCollection
      summary: Get a single failed payment
      tags:
      - Dunning
      description: Returns full detail for one failed payment, including the underlying charge, customer, retry history, schedule snapshot, and resolution metadata.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/collections/{id}/retry:
    post:
      operationId: retryCollection
      summary: Manually retry a failed payment
      tags:
      - Dunning
      description: Shares the same logic as the scheduled dunning worker. Manual retries work even when the scheduler is disabled (isActive=false).
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
