openapi: 3.2.0
info:
  title: Drip Invoices API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Invoices
  description: Generate, issue, and manage invoices. Supports usage-based and subscription-based billing periods.
paths:
  /v1/invoices/generate:
    post:
      operationId: generateInvoice
      summary: Generate invoice from charges
      tags:
      - Invoices
      description: 'Generate an invoice from charges within a billing period.

        Automatically aggregates charges by usage type into line items.


        The invoice is created in DRAFT status. Use the issue endpoint to finalize it.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - periodStart
              - periodEnd
              properties:
                customerId:
                  type: string
                  description: Customer ID to generate invoice for
                periodStart:
                  type: string
                  format: date-time
                  description: Start of billing period (ISO 8601)
                periodEnd:
                  type: string
                  format: date-time
                  description: End of billing period (ISO 8601)
                dueDate:
                  type: string
                  format: date-time
                  description: Payment due date (ISO 8601)
                includeSettledOnly:
                  type: boolean
                  default: false
                  description: Only include settled (confirmed) charges
                notes:
                  type: string
                  maxLength: 2000
                  description: Internal notes (not visible to customer)
                customerNotes:
                  type: string
                  maxLength: 2000
                  description: Notes visible to customer on invoice
      responses:
        '201':
          description: Invoice generated successfully
          content:
            application/json:
              schema:
                description: Invoice generated successfully
                type: object
                properties:
                  id:
                    type: string
                  invoiceNumber:
                    type: string
                  customerId:
                    type: string
                  periodStart:
                    type: string
                  periodEnd:
                    type: string
                  totalUsdc:
                    type: string
                  status:
                    type: string
                  lineItems:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        description:
                          type: string
                        usageType:
                          type: string
                        quantity:
                          type: string
                        unitPrice:
                          type: string
                        amountUsdc:
                          type: string
                  createdAt:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/generate-from-subscription:
    post:
      operationId: generateInvoiceFromSubscription
      summary: Generate invoice from subscription
      tags:
      - Invoices
      description: 'Generate an invoice for a subscription billing period.

        Supports prorated amounts for partial periods (mid-cycle starts, cancellations, upgrades/downgrades).

        Optionally includes usage charges from the same period.


        The invoice is created in DRAFT status. Use the issue endpoint to finalize it.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - customerId
              - subscriptionId
              properties:
                customerId:
                  type: string
                  description: Customer ID
                subscriptionId:
                  type: string
                  description: Subscription ID
                periodStart:
                  type: string
                  format: date-time
                  description: Override period start (ISO 8601)
                periodEnd:
                  type: string
                  format: date-time
                  description: Override period end (ISO 8601)
                dueDate:
                  type: string
                  format: date-time
                  description: Payment due date (ISO 8601)
                notes:
                  type: string
                  maxLength: 2000
                customerNotes:
                  type: string
                  maxLength: 2000
                includeUsageCharges:
                  type: boolean
                  default: false
                  description: Bundle usage charges in the same invoice
      responses:
        '201':
          description: Invoice generated
          content:
            application/json:
              schema:
                description: Invoice generated
                type: object
                additionalProperties: true
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices:
    get:
      operationId: listInvoices
      summary: List invoices
      tags:
      - Invoices
      description: Retrieve all invoices for your business with optional filtering.
      parameters:
      - schema:
          type: string
        in: query
        name: customerId
        required: false
        description: Filter by customer ID
      - schema:
          type: string
          enum:
          - DRAFT
          - PENDING
          - PAID
          - PARTIALLY_PAID
          - VOIDED
          - OVERDUE
        in: query
        name: status
        required: false
        description: Filter by status
      - schema:
          type: string
          format: date-time
        in: query
        name: startDate
        required: false
        description: Filter by created date (from)
      - schema:
          type: string
          format: date-time
        in: query
        name: endDate
        required: false
        description: Filter by created date (to)
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        name: limit
        required: false
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                description: List of invoices
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: integer
                  hasMore:
                    type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/{id}:
    get:
      operationId: getInvoice
      summary: Get invoice
      tags:
      - Invoices
      description: Retrieve a specific invoice by ID.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Invoice ID
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                description: Invoice details
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                description: Invoice not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    patch:
      operationId: updateInvoice
      summary: Update mutable invoice fields (DRAFT only)
      tags:
      - Invoices
      description: Update NET terms, PO number, payment terms label, internal notes, or customer notes on a DRAFT invoice. Once issued, these fields are frozen.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/invoices/{id}/line-items:
    post:
      operationId: addInvoiceLineItem
      summary: Add an ad-hoc line item to a draft invoice
      tags:
      - Invoices
      description: Append a one-off line item (setup fee, services rendered, manual adjustment) to a DRAFT invoice. Only allowed on DRAFT invoices — once issued, line items are immutable; use credit notes for corrections.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/invoices/{id}/issue:
    post:
      operationId: issueInvoice
      summary: Issue invoice
      tags:
      - Invoices
      description: Finalize a draft invoice and mark it as pending payment.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Invoice ID
      responses:
        '200':
          description: Invoice issued
          content:
            application/json:
              schema:
                description: Invoice issued
                type: object
        '400':
          description: Invalid status
          content:
            application/json:
              schema:
                description: Invalid status
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                description: Invoice not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/{id}/paid:
    post:
      operationId: markInvoicePaid
      summary: Mark invoice as paid
      tags:
      - Invoices
      description: 'Mark an invoice as paid. If amount is not provided, the full remaining balance is marked as paid.

        Partial payments can be recorded by specifying an amount.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: string
                  description: Amount paid in USDC (optional, defaults to full balance)
                force:
                  type: boolean
                  description: Override payment terms enforcement (requires OWNER role)
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Invoice ID
      responses:
        '200':
          description: Invoice marked as paid
          content:
            application/json:
              schema:
                description: Invoice marked as paid
                type: object
        '400':
          description: Invalid status or amount
          content:
            application/json:
              schema:
                description: Invalid status or amount
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                description: Invoice not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Payment terms not yet elapsed
          content:
            application/json:
              schema:
                description: Payment terms not yet elapsed
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/{id}/void:
    post:
      operationId: voidInvoice
      summary: Void invoice
      tags:
      - Invoices
      description: Cancel an invoice. Cannot void invoices that have been paid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - reason
              properties:
                reason:
                  type: string
                  minLength: 10
                  maxLength: 1000
                  description: Reason for voiding the invoice
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Invoice ID
      responses:
        '200':
          description: Invoice voided
          content:
            application/json:
              schema:
                description: Invoice voided
                type: object
        '400':
          description: Invalid status
          content:
            application/json:
              schema:
                description: Invalid status
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                description: Invoice not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/summary:
    get:
      operationId: getInvoiceSummary
      summary: Get invoice summary
      tags:
      - Invoices
      description: Get aggregated invoice statistics for your business.
      responses:
        '200':
          description: Invoice summary
          content:
            application/json:
              schema:
                description: Invoice summary
                type: object
                properties:
                  totalInvoices:
                    type: integer
                  totalAmountUsdc:
                    type: string
                  paidAmountUsdc:
                    type: string
                  pendingAmountUsdc:
                    type: string
                  overdueAmountUsdc:
                    type: string
                  byStatus:
                    type: object
                    properties:
                      DRAFT:
                        type: integer
                      PENDING:
                        type: integer
                      PAID:
                        type: integer
                      PARTIALLY_PAID:
                        type: integer
                      VOIDED:
                        type: integer
                      OVERDUE:
                        type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/invoices/{id}/pdf:
    get:
      operationId: getInvoicePdf
      summary: Download invoice PDF
      tags:
      - Invoices
      description: Generate and download a PDF version of the invoice.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Invoice ID
      responses:
        '200':
          description: PDF file
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                description: Invoice not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/subscriptions/{id}/upcoming-invoice:
    get:
      operationId: getUpcomingInvoice
      summary: Preview the upcoming invoice for a subscription
      tags:
      - Invoices
      description: 'Computes what the customer''s next invoice will look like, including any

        usage charges accumulated so far in the current billing period. Read-only —

        no charges, invoices, or line items are persisted.


        Tax is computed using the same pipeline as the real invoice generator, so

        STRIPE_TAX merchants get accurate previews (at the cost of a tiny Stripe

        Tax usage call).


        Returns 409 NOT_BILLABLE when the subscription is paused, cancelled, or

        already past its period end.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/invoices/preview:
    post:
      operationId: previewInvoice
      summary: Preview an invoice for a customer over an arbitrary period
      tags:
      - Invoices
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
