openapi: 3.2.0
info:
  title: Drip Integrations API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Integrations
  description: Manage billing, CRM, and marketplace integrations (Stripe, Xero, Salesforce).
paths:
  /v1/webhooks/salesforce/{integrationId}:
    post:
      operationId: salesforceWebhook
      summary: Salesforce Change Data Capture webhook (HMAC-signed)
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: integrationId
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations:
    get:
      operationId: listIntegrations
      summary: List marketplace & CRM integrations
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
    post:
      operationId: createIntegration
      summary: Create a marketplace / CRM integration
      tags:
      - Integrations
      description: 'Create a new marketplace or CRM integration.


        Supported providers:

        - `AWS_MARKETPLACE` - AWS Marketplace Metering Service

        - `AZURE_MARKETPLACE` - Azure Marketplace SaaS metering

        - `GCP_MARKETPLACE` - GCP Cloud Commerce / Service Control

        - `STRIPE` - Stripe Billing Meter Events

        - `SALESFORCE` - Salesforce CRM (custom usage object)

        - `METRONOME` - Metronome usage ingestion


        Secret config fields are encrypted at rest and never returned on read.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      responses:
        '200':
          description: Default Response
  /v1/integrations/{id}:
    get:
      operationId: getIntegration
      summary: Get a marketplace integration
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    patch:
      operationId: updateIntegration
      summary: Update an integration (rotate secrets, toggle status)
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    delete:
      operationId: deleteIntegration
      summary: Delete an integration
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/{id}/test:
    post:
      operationId: testIntegration
      summary: Test an integration connection
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/{id}/usage:
    post:
      operationId: submitIntegrationUsage
      summary: Submit a metered usage record to the provider
      tags:
      - Integrations
      description: Forwards a single metered usage record to the connected marketplace or CRM. A MarketplaceMeterSubmission row is always written as an audit trail, even if the provider call fails. Idempotency is guaranteed via the `idempotencyKey` field (auto-generated when omitted).
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/{id}/submissions:
    get:
      operationId: listIntegrationSubmissions
      summary: List recent meter submissions
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
          enum:
          - PENDING
          - SUBMITTED
          - FAILED
          - RETRYING
          - REJECTED
        in: query
        name: status
        required: false
      - schema:
          type: string
        in: query
        name: limit
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/stripe/test:
    post:
      operationId: testStripeOnboarding
      summary: Validate Stripe credentials (no side effects)
      tags:
      - Integrations
      description: Validates a Stripe secret or restricted key (and optional webhook secret) against Stripe's /v1/account endpoint. Probes tax/billing/invoicing capabilities when scoped keys are provided. Returns account metadata on success. **No database writes.** Requires a secret key with the `ADMIN` role.
      responses:
        '200':
          description: Default Response
  /v1/integrations/stripe/connect:
    post:
      operationId: connectStripeIntegration
      summary: Connect a Stripe account via API key
      tags:
      - Integrations
      description: 'Validates Stripe credentials, creates a `MarketplaceIntegration` row (idempotent on Stripe account ID), optionally flips `taxProvider` to `STRIPE_TAX`, and returns the webhook URL the merchant must paste into their Stripe dashboard. Retrying this endpoint with the same Stripe account returns the existing integration with `alreadyExists: true`. Requires `API_PUBLIC_BASE_URL` to be set; webhook URL has no host header fallback. **Requires a secret key with the `ADMIN` role.**'
      responses:
        '200':
          description: Default Response
  /v1/integrations/stripe/oauth/init:
    post:
      operationId: initStripeQuickstartOAuth
      summary: Begin Stripe Connect OAuth (Quickstart mode)
      tags:
      - Integrations
      description: Generates a Stripe Connect authorize URL and a signed state token. The frontend redirects the user's browser to `authorizeUrl`; Stripe then redirects back to `/v1/integrations/stripe/oauth/callback` where Drip exchanges the code, creates the integration, and auto-provisions the webhook endpoint. Gated on the `STRIPE_QUICKSTART_ENABLED` feature flag; returns 404 if disabled for the workspace.
      responses:
        '200':
          description: Default Response
  /v1/integrations/stripe/oauth/callback:
    get:
      operationId: stripeQuickstartOAuthCallback
      summary: Stripe Connect OAuth redirect handler
      tags:
      - Integrations
      description: Public redirect endpoint Stripe posts the user back to after they authorize the Connect app. Verifies the state HMAC + expiry, exchanges the code for the connected `acct_…` id, creates the integration, auto-provisions the webhook endpoint, and 302-redirects the browser to the dashboard with a `?quickstart=success|error` hint.
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/slack/install:
    post:
      operationId: commsSlackInstall
      summary: Begin Slack OAuth (pre-call MVP)
      tags:
      - Integrations
      responses:
        '200':
          description: Authorize URL issued
          content:
            application/json:
              schema:
                description: Authorize URL issued
                type: object
                required:
                - authorizeUrl
                - state
                - expiresInSeconds
                properties:
                  authorizeUrl:
                    type: string
                    format: uri
                  state:
                    type: string
                  expiresInSeconds:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/slack/realtime/stream:
    get:
      operationId: commsSlackRealtimeStream
      summary: Stream managed Slack realtime messages to desktop clients
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/slack/events/stream:
    get:
      operationId: commsSlackEventsStream
      summary: Stream managed Slack realtime messages to desktop clients
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/linkedin/realtime/stream:
    get:
      operationId: commsLinkedInRealtimeStream
      summary: Stream managed LinkedIn realtime events to desktop clients
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/linkedin/events/stream:
    get:
      operationId: commsLinkedInEventsStream
      summary: Stream managed LinkedIn realtime events to desktop clients
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/linkedin/events:
    post:
      operationId: commsLinkedInRealtimePublish
      summary: Publish local LinkedIn realtime events to desktop clients
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/slack/callback:
    get:
      operationId: commsSlackCallback
      summary: Slack OAuth redirect handler
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/gmail/install:
    post:
      operationId: commsGmailInstall
      summary: Begin Gmail OAuth (pre-call MVP)
      tags:
      - Integrations
      responses:
        '200':
          description: Authorize URL issued
          content:
            application/json:
              schema:
                description: Authorize URL issued
                type: object
                required:
                - authorizeUrl
                - state
                - expiresInSeconds
                properties:
                  authorizeUrl:
                    type: string
                    format: uri
                  state:
                    type: string
                  expiresInSeconds:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/gmail/callback:
    get:
      operationId: commsGmailCallback
      summary: Gmail OAuth redirect handler
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms/calendar/callback:
    get:
      operationId: commsCalendarCallback
      summary: Google Calendar OAuth redirect handler
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/comms:
    get:
      operationId: commsList
      summary: List comms integrations for the authenticated business
      tags:
      - Integrations
      responses:
        '200':
          description: Integrations list
          content:
            application/json:
              schema:
                description: Integrations list
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - provider
                      - status
                      - scopes
                      - createdAt
                      properties:
                        id:
                          type: string
                        provider:
                          type: string
                          enum:
                          - SLACK
                          - GMAIL
                        status:
                          type: string
                          enum:
                          - ACTIVE
                          - DISABLED
                          - ERROR
                          - PENDING
                        externalAccountLabel:
                          type: string
                          nullable: true
                        scopes:
                          type: array
                          items:
                            type: string
                        lastSyncedAt:
                          type: string
                          format: date-time
                          nullable: true
                        lastErrorMessage:
                          type: string
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/slack/doctor:
    get:
      operationId: commsSlackDoctor
      summary: Diagnose Slack OAuth, realtime events, and stored comms state for the…
      tags:
      - Integrations
      responses:
        '200':
          description: Slack diagnostics
          content:
            application/json:
              schema:
                description: Slack diagnostics
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/messages:
    get:
      operationId: commsMessagesList
      summary: List recently ingested comms messages for the authenticated business
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
          enum:
          - SLACK
          - GMAIL
        in: query
        name: provider
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: since
        required: false
      - schema:
          type: string
          format: date-time
        in: query
        name: before
        required: false
      - schema:
          type: string
        in: query
        name: cursor
        required: false
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
        in: query
        name: limit
        required: false
      responses:
        '200':
          description: Comms messages list
          content:
            application/json:
              schema:
                description: Comms messages list
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - source
                      - direction
                      - externalId
                      - body
                      - sentAt
                      properties:
                        id:
                          type: string
                        source:
                          type: string
                          enum:
                          - SLACK_DM
                          - SLACK_CHANNEL
                          - GMAIL
                        direction:
                          type: string
                          enum:
                          - INBOUND
                          - OUTBOUND
                        externalId:
                          type: string
                        threadExternalId:
                          type: string
                          nullable: true
                        senderEmail:
                          type: string
                          nullable: true
                        senderHandle:
                          type: string
                          nullable: true
                        channelName:
                          type: string
                          nullable: true
                        subject:
                          type: string
                          nullable: true
                        body:
                          type: string
                        permalink:
                          type: string
                          nullable: true
                        sentAt:
                          type: string
                          format: date-time
                        metadata:
                          type:
                          - 'null'
                          - object
                          additionalProperties: true
                  nextCursor:
                    type: string
                    nullable: true
                  hasMore:
                    type: boolean
                  complete:
                    type: boolean
                  highWaterTs:
                    type: number
                    nullable: true
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Bad request
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '502':
          description: Upstream provider error
          content:
            application/json:
              schema:
                description: Upstream provider error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/slack/send:
    post:
      operationId: commsSlackSend
      summary: Send a Slack message through the authenticated business integration
      tags:
      - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - target
              - body
              properties:
                target:
                  type: string
                  minLength: 1
                body:
                  type: string
                  minLength: 1
                  maxLength: 40000
      responses:
        '200':
          description: Slack message sent
          content:
            application/json:
              schema:
                description: Slack message sent
                type: object
                required:
                - sourceId
                - channelId
                - ts
                properties:
                  sourceId:
                    type: string
                  channelId:
                    type: string
                  threadExternalId:
                    type: string
                    nullable: true
                  ts:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                description: Bad request
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '502':
          description: Upstream provider error
          content:
            application/json:
              schema:
                description: Upstream provider error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/{id}:
    delete:
      operationId: commsDelete
      summary: Disconnect a comms integration
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '204':
          description: Disconnected
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/integrations/comms/{id}/sync:
    post:
      operationId: commsManualSync
      summary: Trigger an immediate poll for a comms integration
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                description: Sync result
                type: object
                required:
                - inserted
                - matchedCustomers
                - errors
                properties:
                  inserted:
                    type: integer
                    minimum: 0
                  matchedCustomers:
                    type: integer
                    minimum: 0
                  errors:
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '501':
          description: Provider not yet supported by manual sync
          content:
            application/json:
              schema:
                description: Provider not yet supported by manual sync
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/customers/{customerId}/comms/link:
    post:
      operationId: commsLinkHandle
      summary: Manually attribute past + future comm messages to a customer
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: customerId
        required: true
      responses:
        '200':
          description: Number of messages linked
          content:
            application/json:
              schema:
                description: Number of messages linked
                type: object
                required:
                - matched
                properties:
                  matched:
                    type: integer
                    minimum: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                description: Forbidden
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                description: Internal error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                description: OAuth provider not configured
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/sync/touches:
    post:
      operationId: syncTouches
      summary: Sync customer touches from drip-cli
      tags:
      - Integrations
      description: Push a batch of communication touches (iMessage / Slack / Gmail / LinkedIn / calendar / GitHub) to Drip. Body is truncated server-side to 200 chars; full message contents should never be sent. Each touch is matched to an existing Customer by email (case-insensitive); unmatched rows are still stored with customerId=null so a future re-resolve can backfill the link. Idempotent on `sourceId`. Capped at 500 touches per request.
      responses:
        '200':
          description: Default Response
  /v1/opens-since:
    get:
      operationId: listEmailOpensSince
      summary: List email opens since a unix timestamp
      tags:
      - Integrations
      description: Return email-pixel opens with `opened_at >= ts` (unix seconds). drip-cli polls this endpoint with its last-sync watermark, matches incoming tokens against its local `email_opens` table, and updates open counts for tokens it owns. Unknown tokens are ignored. Capped at 5000 rows per call (default 1000); the cli re-polls with an advanced watermark.
      parameters:
      - schema:
          type: integer
          minimum: 0
        in: query
        name: ts
        required: true
        description: Unix seconds. Returns opens with opened_at >= this value.
      - schema:
          type: integer
          minimum: 1
          maximum: 5000
          default: 1000
        in: query
        name: limit
        required: false
      responses:
        '200':
          description: Default Response
  /v1/integrations/stripe/migrate/dry-run:
    post:
      operationId: stripeMigrateDryRun
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate dry run
      x-summary-source: derived
  /v1/integrations/stripe/migrate/execute:
    post:
      operationId: stripeMigrateExecute
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate execute
      x-summary-source: derived
  /v1/integrations/stripe/migrate/status:
    get:
      operationId: stripeMigrateStatus
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate status
      x-summary-source: derived
  /v1/integrations/stripe/migrate/runs:
    get:
      operationId: stripeMigrateListRuns
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate list runs
      x-summary-source: derived
  /v1/integrations/stripe/migrate/runs/{id}:
    get:
      operationId: stripeMigrateGetRun
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate get run
      x-summary-source: derived
    delete:
      operationId: stripeMigrateRollback
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate rollback
      x-summary-source: derived
  /v1/integrations/stripe/migrate/runs/{id}/rollback:
    post:
      operationId: stripeMigrateRollbackPost
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Stripe migrate rollback post
      x-summary-source: derived
  /v1/integrations/stripe/customers:
    get:
      operationId: stripeListCustomers
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Stripe list customers
      x-summary-source: derived
  /v1/integrations/import/dry-run:
    post:
      operationId: csvImportDryRun
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Csv import dry run
      x-summary-source: derived
  /v1/integrations/import/execute:
    post:
      operationId: csvImportExecute
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Csv import execute
      x-summary-source: derived
  /v1/integrations/import/status:
    get:
      operationId: csvImportStatus
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Csv import status
      x-summary-source: derived
  /v1/integrations/import/runs:
    get:
      operationId: csvImportListRuns
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
      summary: Csv import list runs
      x-summary-source: derived
  /v1/integrations/import/runs/{id}:
    get:
      operationId: csvImportGetRun
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Csv import get run
      x-summary-source: derived
    delete:
      operationId: csvImportRollback
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Csv import rollback
      x-summary-source: derived
  /v1/integrations/import/runs/{id}/rollback:
    post:
      operationId: csvImportRollbackPost
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
      summary: Csv import rollback post
      x-summary-source: derived
  /v1/lead-sources/webhook/connect:
    post:
      operationId: connectLeadWebhookSource
      summary: Create or rotate a lead-source webhook setup
      description: Provisions (or rotates) a generic lead-source webhook for the authenticated business. Returns the public ingest endpoint, a bearer token to use in the `Authorization` header, the connection identifier, and a sample request body. Requires a secret key (`sk_*`) with the `ADMIN` role.
      tags:
      - Integrations
      responses:
        '200':
          description: Webhook setup created or rotated
  /v1/lead-sources/webhook/status:
    get:
      operationId: getLeadWebhookSourceStatus
      summary: Get lead-source webhook status
      description: Returns the current webhook connection status, including connection identifier, endpoint URL, token last-4, last ingest time, and last error message. Returns 404 when the webhook has not been configured for the business.
      tags:
      - Integrations
      responses:
        '200':
          description: Current webhook connection status
        '404':
          description: Lead webhook has not been configured (code `CLAY_CONNECTOR_NOT_FOUND`)
  /v1/lead-sources/webhook/leads:
    get:
      operationId: listLeadWebhookLeads
      summary: List webhook leads for desktop sync
      description: Returns a cursor-paginated batch of normalized webhook leads ingested for the authenticated business. Use `cursor` and `limit` (1–500, default 500) to page through results. Returns 404 when the webhook has not been configured.
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Opaque pagination cursor returned by a previous response.
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 500
        in: query
        name: limit
        required: false
        description: Maximum number of leads to return.
      responses:
        '200':
          description: Paginated list of ingested webhook leads
        '404':
          description: Lead webhook has not been configured (code `CLAY_CONNECTOR_NOT_FOUND`)
  /v1/connectors/leads/{connectionId}/ingest:
    post:
      operationId: ingestLeadWebhookLeads
      summary: Ingest leads from a webhook
      description: 'Public webhook ingest endpoint. Authenticate with the bearer token returned by the connect call (`Authorization: Bearer `). The request body must contain a `leads` array of up to 500 records per call. Returns 202 with counts of received, created, duplicate, and skipped leads.


        Error codes: `CLAY_CONNECTOR_NOT_FOUND` (404), `CLAY_CONNECTOR_DISCONNECTED` (403), `CLAY_CONNECTOR_TOKEN_REQUIRED` (401), `CLAY_CONNECTOR_TOKEN_INVALID` (401), `CLAY_EMPTY_PAYLOAD` (422), `CLAY_BATCH_TOO_LARGE` (422).'
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
        in: path
        name: connectionId
        required: true
        description: Connection identifier returned by the connect call.
      responses:
        '202':
          description: Leads accepted for ingestion
  /v1/lead-sources/clay/connect:
    post:
      operationId: connectClayLeadSource
      summary: Create or rotate Clay lead-source webhook setup
      description: Clay-branded alias of `POST /v1/lead-sources/webhook/connect`. Behaves identically; prefer the generic `/lead-sources/webhook/connect` route for new integrations.
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/lead-sources/clay/status:
    get:
      operationId: getClayLeadSourceStatus
      summary: Get Clay lead-source webhook status
      description: Clay-branded alias of `GET /v1/lead-sources/webhook/status`. Behaves identically; prefer the generic `/lead-sources/webhook/status` route for new integrations.
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/lead-sources/clay/leads:
    get:
      operationId: listClayIngestedLeads
      summary: List Clay-ingested leads for desktop sync
      description: Clay-branded alias of `GET /v1/lead-sources/webhook/leads`. Behaves identically; prefer the generic `/lead-sources/webhook/leads` route for new integrations.
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: query
        name: cursor
        required: false
        description: Opaque pagination cursor returned by a previous response.
      - schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 500
        in: query
        name: limit
        required: false
        description: Maximum number of leads to return.
      responses:
        '200':
          description: Paginated list of ingested Clay leads
        '404':
          description: Lead webhook has not been configured (code `CLAY_CONNECTOR_NOT_FOUND`)
  /v1/connectors/clay/{connectionId}/ingest:
    post:
      operationId: ingestClayLeads
      summary: Ingest leads from Clay webhook
      description: Clay-branded alias of `POST /v1/connectors/leads/{connectionId}/ingest`. Behaves identically; prefer the generic `/connectors/leads/{connectionId}/ingest` route for new integrations.
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: connectionId
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/sync/accounts:
    post:
      operationId: triggerSalesforceAccountSync
      summary: Trigger a Salesforce Account → Drip Customer sync
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/sync/opportunities:
    post:
      operationId: triggerSalesforceOpportunitySync
      summary: Trigger a Salesforce Opportunity → Drip Contract sync
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/sync/rollup:
    post:
      operationId: triggerSalesforceSpendRollupPush
      summary: Push per-Account spend rollups to Salesforce
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/backfill:
    post:
      operationId: triggerSalesforceBackfill
      summary: Run a full Salesforce Accounts + Opportunities backfill via Bulk API 2.0
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/field-mappings:
    get:
      operationId: listSalesforceFieldMappings
      summary: List Salesforce field mappings for an integration
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    post:
      operationId: createSalesforceFieldMapping
      summary: Create a Salesforce field mapping
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/salesforce/{id}/field-mappings/{mappingId}:
    patch:
      operationId: updateSalesforceFieldMapping
      summary: Update a Salesforce field mapping
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: mappingId
        required: true
      responses:
        '200':
          description: Default Response
    delete:
      operationId: deleteSalesforceFieldMapping
      summary: Delete a Salesforce field mapping
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: mappingId
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/connect:
    post:
      operationId: xeroConnect
      summary: Start the Xero OAuth 2.0 PKCE flow
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/callback:
    get:
      operationId: xeroCallback
      summary: Xero OAuth 2.0 callback
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero:
    get:
      operationId: xeroList
      summary: List Xero integrations
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
    delete:
      operationId: xeroDisconnect
      summary: Disconnect the Xero integration
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/tenants:
    get:
      operationId: xeroListTenants
      summary: List Xero tenants connected to the active integration
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/test:
    post:
      operationId: xeroTest
      summary: Test the Xero connection
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/accounts/map:
    post:
      operationId: xeroUpsertAccountMappings
      summary: Upsert Xero account-code mappings
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/accounts:
    get:
      operationId: xeroListAccounts
      summary: List Xero chart of accounts for a tenant
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/xero/push/{exportId}:
    post:
      operationId: xeroPushExport
      summary: Push a GL export to Xero as ManualJournals
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: exportId
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/connect:
    post:
      operationId: quickBooksConnect
      summary: Start the QuickBooks Online OAuth 2.0 PKCE flow
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/callback:
    get:
      operationId: quickBooksCallback
      summary: QuickBooks Online OAuth 2.0 callback
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks:
    get:
      operationId: quickBooksList
      summary: List QuickBooks integrations
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
    delete:
      operationId: quickBooksDisconnect
      summary: Disconnect the QuickBooks integration
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/test:
    post:
      operationId: quickBooksTest
      summary: Test the QuickBooks connection
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/accounts/map:
    post:
      operationId: quickBooksUpsertAccountMappings
      summary: Upsert QuickBooks account-code mappings
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/accounts:
    get:
      operationId: quickBooksListAccounts
      summary: List QuickBooks Online chart of accounts
      tags:
      - Integrations
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/push/{exportId}:
    post:
      operationId: quickBooksPushExport
      summary: Push a GL export to QuickBooks Online as JournalEntries
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: exportId
        required: true
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/config:
    patch:
      operationId: quickBooksUpdateConfig
      summary: Update QuickBooks integration settings (defaultItemId, autoPush)
      tags:
      - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultItemId:
                  type: string
                  description: QBO Item ID used for all invoice line items when pushing native invoices. Must be an existing active Item in your QBO company (e.g. a "Services" product).
                autoPush:
                  type: boolean
                  description: When true, GL exports are pushed to QBO automatically.
                integrationId:
                  type: string
      responses:
        '200':
          description: Default Response
  /v1/integrations/quickbooks/push-invoice/{invoiceId}:
    post:
      operationId: quickBooksPushInvoice
      summary: Push a Drip invoice to QuickBooks Online as a native Invoice
      tags:
      - Integrations
      parameters:
      - schema:
          type: string
        in: path
        name: invoiceId
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
