openapi: 3.2.0
info:
  title: Drip Drift API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Drift
paths:
  /v1/drift/stripe:
    get:
      operationId: listStripeDriftFindings
      summary: List Stripe drift findings
      tags:
      - Drift
      responses:
        '200':
          description: Default Response
  /v1/drift/customer:
    get:
      operationId: listCustomerDriftFindings
      summary: List customer churn-risk findings
      tags:
      - Drift
      responses:
        '200':
          description: Default Response
  /v1/drift/config:
    get:
      operationId: listConfigDriftFindings
      summary: List config drift findings
      tags:
      - Drift
      responses:
        '200':
          description: Default Response
  /v1/drift/summary:
    get:
      operationId: getDriftSummary
      summary: Per-kind drift summary
      tags:
      - Drift
      responses:
        '200':
          description: Default Response
  /v1/drift/findings/{id}:
    get:
      operationId: getDriftFinding
      summary: Get a single drift finding (Mac-app deep-link target)
      tags:
      - Drift
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
    patch:
      operationId: updateDriftFinding
      summary: Acknowledge / resolve / suppress a finding
      tags:
      - Drift
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/drift/{kind}/run:
    post:
      operationId: runDriftDetector
      summary: Enqueue an on-demand drift detector run
      tags:
      - Drift
      parameters:
      - schema:
          type: string
        in: path
        name: kind
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
