openapi: 3.2.0
info:
  title: Drip Entitlements API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Entitlements
  description: Quota management and pre-request access checks.
paths:
  /v1/entitlement-plans:
    get:
      operationId: listEntitlementPlans
      summary: List entitlement plans
      tags:
      - Entitlements
      description: Get all entitlement plans (tiers) for your business.
      responses:
        '200':
          description: List of entitlement plans
          content:
            application/json:
              schema:
                description: List of entitlement plans
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
    post:
      operationId: createEntitlementPlan
      summary: Create an entitlement plan
      tags:
      - Entitlements
      description: Create a new entitlement plan (tier) with feature rules.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
                  pattern: ^[a-z0-9_-]+$
                  description: URL-safe slug (lowercase alphanumeric, hyphens, underscores)
                description:
                  type: string
                isDefault:
                  type: boolean
              required:
              - name
              - slug
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema:
                description: Plan created
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '409':
          description: Slug already exists
          content:
            application/json:
              schema:
                description: Slug already exists
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
  /v1/entitlement-plans/{id}:
    get:
      operationId: getEntitlementPlan
      summary: Get an entitlement plan
      tags:
      - Entitlements
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Entitlement plan
          content:
            application/json:
              schema:
                description: Entitlement plan
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
    patch:
      operationId: updateEntitlementPlan
      summary: Update an entitlement plan
      tags:
      - Entitlements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                isDefault:
                  type: boolean
                isActive:
                  type: boolean
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Plan updated
          content:
            application/json:
              schema:
                description: Plan updated
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
    delete:
      operationId: deleteEntitlementPlan
      summary: Delete an entitlement plan
      tags:
      - Entitlements
      description: Soft-delete an entitlement plan by deactivating it.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '204':
          description: Plan deleted
          content:
            application/json:
              schema:
                description: Plan deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
  /v1/entitlement-plans/{id}/versions:
    get:
      operationId: listEntitlementPlanVersions
      summary: List versions of an entitlement plan
      tags:
      - Entitlements
      description: Return every row in the same `versionGroupId` as the given plan, ordered oldest → newest. Each version includes the rule set that was live at that version.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Version history
          content:
            application/json:
              schema:
                description: Version history
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
                  versionGroupId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
  /v1/entitlement-plans/{id}/rules:
    post:
      operationId: createEntitlementRule
      summary: Add a rule to a plan
      tags:
      - Entitlements
      description: Add a feature limit rule to an entitlement plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                featureKey:
                  type: string
                  minLength: 1
                limitType:
                  type: string
                  enum:
                  - COUNT
                  - AMOUNT
                period:
                  type: string
                  enum:
                  - DAILY
                  - MONTHLY
                limitValue:
                  type: number
                  minimum: 0
                  description: Limit value (must be non-negative)
                unlimited:
                  type: boolean
              required:
              - featureKey
              - limitType
              - period
              - limitValue
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                description: Rule created
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Plan not found
        '409':
          description: Rule already exists
          content:
            application/json:
              schema:
                description: Rule already exists
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
    get:
      operationId: listEntitlementRules
      summary: List rules for a plan
      tags:
      - Entitlements
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: List of rules
          content:
            application/json:
              schema:
                description: List of rules
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Plan not found
  /v1/entitlement-rules/{ruleId}:
    patch:
      operationId: updateEntitlementRule
      summary: Update an entitlement rule
      tags:
      - Entitlements
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                limitValue:
                  type: number
                unlimited:
                  type: boolean
      parameters:
      - schema:
          type: string
        in: path
        name: ruleId
        required: true
      responses:
        '200':
          description: Rule updated
          content:
            application/json:
              schema:
                description: Rule updated
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
    delete:
      operationId: deleteEntitlementRule
      summary: Delete an entitlement rule
      tags:
      - Entitlements
      parameters:
      - schema:
          type: string
        in: path
        name: ruleId
        required: true
      responses:
        '204':
          description: Rule deleted
          content:
            application/json:
              schema:
                description: Rule deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Not found
  /v1/customers/{customerId}/entitlement:
    get:
      operationId: getCustomerEntitlement
      summary: Get customer entitlement
      tags:
      - Entitlements
      description: Get a customer's assigned plan and current usage.
      parameters:
      - schema:
          type: string
        in: path
        name: customerId
        required: true
      responses:
        '200':
          description: Customer entitlement with usage
          content:
            application/json:
              schema:
                description: Customer entitlement with usage
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer not found
    put:
      operationId: assignCustomerEntitlement
      summary: Assign entitlement plan to customer
      tags:
      - Entitlements
      description: Assign or change a customer's entitlement plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planId:
                  type: string
                overrides:
                  type: object
              required:
              - planId
      parameters:
      - schema:
          type: string
        in: path
        name: customerId
        required: true
      responses:
        '200':
          description: Entitlement assigned
          content:
            application/json:
              schema:
                description: Entitlement assigned
                type: object
                additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Customer or plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer or plan not found
  /v1/entitlements/check:
    post:
      operationId: checkEntitlement
      summary: Check entitlement
      tags:
      - Entitlements
      description: 'Fast pre-request check: is this customer allowed to use this feature?


        Returns `allowed: true/false` with remaining quota. Use this before processing

        expensive requests to avoid wasting compute on customers who are over quota.


        Redis-backed hot-path with DB fallback for persisted usage events.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Customer ID
                featureKey:
                  type: string
                  description: Feature/meter key (e.g., "search", "api_calls")
                quantity:
                  type: number
                  description: 'Quantity to check (default: 1)'
              required:
              - customerId
              - featureKey
      responses:
        '200':
          description: Entitlement check result
          content:
            application/json:
              schema:
                description: Entitlement check result
                type: object
                properties:
                  allowed:
                    type: boolean
                  featureKey:
                    type: string
                  remaining:
                    type: number
                  limit:
                    type: number
                  unlimited:
                    type: boolean
                  period:
                    type: string
                    enum:
                    - DAILY
                    - MONTHLY
                  periodResetsAt:
                    type: string
                    format: date-time
                  reason:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer not found
  /v1/customers/{customerId}/entitlement/usage:
    get:
      operationId: getCustomerEntitlementUsage
      summary: Get customer entitlement usage
      tags:
      - Entitlements
      description: Get current period usage vs limits for all features in a customer's plan.
      parameters:
      - schema:
          type: string
        in: path
        name: customerId
        required: true
      responses:
        '200':
          description: Usage summary per feature
          content:
            application/json:
              schema:
                description: Usage summary per feature
                type: object
                properties:
                  customerId:
                    type: string
                  usage:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
