openapi: 3.2.0
info:
  title: Drip Customer Portal API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Customer Portal
  description: Self-service customer portal for profile, subscriptions, and address management.
paths:
  /v1/portal/profile:
    get:
      operationId: getPortalProfile
      summary: Get customer profile
      tags:
      - Customer Portal
      responses:
        '200':
          description: Default Response
  /v1/portal/profile/address:
    put:
      operationId: updatePortalProfileAddress
      summary: Update billing address
      tags:
      - Customer Portal
      responses:
        '200':
          description: Default Response
  /v1/portal/subscriptions:
    get:
      operationId: listPortalSubscriptions
      summary: List subscriptions
      tags:
      - Customer Portal
      responses:
        '200':
          description: Default Response
  /v1/portal/subscriptions/{id}/cancel:
    post:
      operationId: cancelPortalSubscription
      summary: Cancel subscription
      tags:
      - Customer Portal
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
