openapi: 3.2.0
info:
  title: Drip Credit Notes API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Credit Notes
  description: Create, issue, and void credit notes.
paths:
  /v1/credit-notes:
    post:
      operationId: createCreditNote
      summary: Create a draft credit note
      tags:
      - Credit Notes
      description: 'Create a credit note in DRAFT status against an existing invoice. The credit

        note is not applied to the invoice until you call POST /credit-notes/:id/issue.


        Required for refunds, corrections, and post-issuance adjustments — especially

        in EU/LATAM jurisdictions where simply voiding an invoice is not legally

        sufficient.


        Validates that:

        - the invoice exists and belongs to the business

        - the invoice is not in DRAFT or VOIDED status

        - the credit note total does not exceed the remaining invoice value'
      responses:
        '200':
          description: Default Response
    get:
      operationId: listCreditNotes
      summary: List credit notes
      tags:
      - Credit Notes
      responses:
        '200':
          description: Default Response
  /v1/credit-notes/{id}:
    get:
      operationId: getCreditNote
      summary: Get a credit note
      tags:
      - Credit Notes
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/credit-notes/{id}/issue:
    post:
      operationId: issueCreditNote
      summary: Issue a draft credit note
      tags:
      - Credit Notes
      description: 'Apply a DRAFT credit note to its invoice. Increments invoice.adjustmentsUsdc and recomputes invoice status. Idempotent: returns 409 if the credit note is not in DRAFT status.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/credit-notes/{id}/void:
    post:
      operationId: voidCreditNote
      summary: Void a credit note
      tags:
      - Credit Notes
      description: Voiding an ISSUED credit note reverses its application to the invoice. Voiding a DRAFT credit note is a no-op cleanup. Requires a reason of at least 5 characters.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
