openapi: 3.2.0
info:
  title: Drip Contracts API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Contracts
  description: Per-customer commercial agreements with custom pricing, prepaid commits, and spend caps. All contract endpoints require a secret key (`sk_*`) with the `ADMIN` role.
paths:
  /v1/contracts:
    post:
      operationId: createContract
      summary: Create a contract
      tags:
      - Contracts
      description: 'Create a per-customer commercial agreement with custom pricing, prepaid commits, and spend caps.


        Contracts override default pricing plans for a specific customer. Use them for:

        - **Enterprise deals** with negotiated rates (via price overrides)

        - **Prepaid commits** where the customer pays upfront and draws down a balance

        - **Spend caps** to enforce maximum billing per period

        - **Minimum commits** to guarantee a revenue floor

        - **Volume discounts** applied as a percentage across all usage

        - **Free-tier allocations** with included units per usage type


        The `customerId` must reference a customer created via `POST /customers`. If `prepaidAmountUsdc` is provided, the contract is initialized with that amount as `prepaidBalanceUsdc`.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Create a per-customer commercial agreement. Use contracts to offer enterprise customers custom pricing, prepaid commits, spend caps, and volume discounts. The customer must already exist (created via `POST /customers`).
              properties:
                customerId:
                  type: string
                  minLength: 1
                  description: ID of the customer this contract applies to. Must be a valid customer ID returned from `POST /customers`.
                  example: cus_abc123def456
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Human-readable name for the contract (e.g., "Acme Corp Enterprise Q1 2024")
                  example: Acme Corp Enterprise Agreement
                startDate:
                  type: string
                  format: date-time
                  description: When the contract takes effect (ISO 8601). Can be in the future for scheduled activations.
                  example: '2024-01-01T00:00:00.000Z'
                endDate:
                  type: string
                  format: date-time
                  description: When the contract expires (ISO 8601). Omit for a perpetual contract with no end date.
                  example: '2024-12-31T23:59:59.000Z'
                minimumUsdc:
                  type: string
                  description: Minimum committed spend in USDC. The customer is billed for at least this amount regardless of actual usage. Use for minimum-commit deals.
                  example: '500.00'
                maximumUsdc:
                  type: string
                  description: Maximum spend cap in USDC. Charges that would exceed this cap are blocked. Use for budget-capped agreements.
                  example: '10000.00'
                discountPct:
                  type: string
                  description: Percentage discount applied to all charges (0-100). For example, "15" means 15% off all usage charges under this contract.
                  example: '15'
                prepaidAmountUsdc:
                  type: string
                  description: Prepaid commit amount in USDC. This amount is pre-loaded as a credit balance. Charges draw down from this balance first before falling back to normal billing.
                  example: '1000.00'
                prepaidRollover:
                  type: boolean
                  description: Whether unused prepaid balance rolls over to the next billing period. Defaults to false (unused balance expires).
                  default: false
                includedUnits:
                  type: object
                  additionalProperties:
                    type: number
                  description: Free unit allocations per usage type. Keys are unit types (must match pricing plan `unitType`), values are the number of free units per billing period. Usage within these limits is not charged.
                  example:
                    api_call: 10000
                    token: 1000000
                metadata:
                  type: object
                  additionalProperties: true
                  description: Arbitrary key-value metadata. Useful for storing external references (CRM deal IDs, internal tags, etc.).
                  example:
                    salesforceId: OPP-12345
                    tier: enterprise
              required:
              - customerId
              - name
              - startDate
        description: Create a per-customer commercial agreement. Use contracts to offer enterprise customers custom pricing, prepaid commits, spend caps, and volume discounts. The customer must already exist (created via `POST /customers`).
      responses:
        '201':
          description: Contract created successfully
          content:
            application/json:
              schema:
                type: object
                description: Contract created successfully
                properties:
                  id:
                    type: string
                    description: Unique identifier for the contract
                    example: ctr_abc123def456
                  businessId:
                    type: string
                    description: Business that owns this contract
                    example: biz_789xyz
                  customerId:
                    type: string
                    description: Customer this contract applies to (must be created via POST /customers first)
                    example: cus_abc123def456
                  name:
                    type: string
                    description: Human-readable name for the contract
                    example: Acme Corp Enterprise Agreement
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - PAUSED
                    - EXPIRED
                    - CANCELLED
                    description: 'Current contract status. Only ACTIVE contracts affect billing. Transitions: ACTIVE → PAUSED, EXPIRED, or CANCELLED.'
                    example: ACTIVE
                  startDate:
                    type: string
                    format: date-time
                    description: When the contract takes effect (ISO 8601)
                    example: '2024-01-01T00:00:00.000Z'
                  endDate:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the contract expires (ISO 8601). Null means the contract is perpetual.
                    example: '2024-12-31T23:59:59.000Z'
                  minimumUsdc:
                    type: string
                    nullable: true
                    description: Minimum committed spend in USDC for the contract period. If the customer spends less, they are still billed for the minimum.
                    example: '500.000000'
                  maximumUsdc:
                    type: string
                    nullable: true
                    description: Maximum spend cap in USDC for the contract period. Charges that would exceed this cap are blocked.
                    example: '10000.000000'
                  discountPct:
                    type: string
                    nullable: true
                    description: Percentage discount applied to all charges under this contract (0-100, up to 2 decimal places)
                    example: '15.00'
                  prepaidAmountUsdc:
                    type: string
                    nullable: true
                    description: Total prepaid commit amount in USDC. This is the initial balance loaded into the contract.
                    example: '1000.000000'
                  prepaidBalanceUsdc:
                    type: string
                    nullable: true
                    description: Remaining prepaid balance in USDC. Decreases as charges are applied. When depleted, charges fall back to normal billing.
                    example: '750.000000'
                  prepaidRollover:
                    type: boolean
                    description: Whether unused prepaid balance rolls over to the next billing period
                    example: false
                  includedUnits:
                    type: object
                    nullable: true
                    additionalProperties:
                      type: number
                    description: Free unit allocations per usage type per billing period. Usage within these limits is not charged. Keys are unit types, values are quantities.
                    example:
                      api_call: 10000
                      token: 1000000
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary key-value metadata for your own tracking (e.g., Salesforce deal ID, internal notes)
                    example:
                      salesforceId: OPP-12345
                      tier: enterprise
                  createdAt:
                    type: string
                    format: date-time
                    description: When the contract was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the contract was last updated
                    example: '2024-01-15T10:30:00.000Z'
                  priceOverrides:
                    type: array
                    description: Custom per-unit-type pricing that overrides default pricing plans for this customer
                    items:
                      type: object
                      description: A per-unit-type price override within a contract. Overrides the default pricing plan rate for this customer.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the price override
                          example: cpo_abc123def456
                        unitType:
                          type: string
                          description: The usage type this override applies to (must match a pricing plan `unitType`)
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                          example: '0.000800'
                      required:
                      - id
                      - unitType
                      - unitPriceUsd
                required:
                - id
                - businessId
                - customerId
                - name
                - status
                - startDate
                - prepaidRollover
                - createdAt
                - updatedAt
                - priceOverrides
        '400':
          description: Validation error (missing required fields, invalid format)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Validation error (missing required fields, invalid format)
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Customer not found — the `customerId` does not exist or does not belong to your business
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer not found — the `customerId` does not exist or does not belong to your business
    get:
      operationId: listContracts
      summary: List contracts
      tags:
      - Contracts
      description: 'List all contracts for your business, optionally filtered by customer or status. Results are ordered by creation date (newest first).


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      parameters:
      - schema:
          type: string
          example: cus_abc123def456
        in: query
        name: customerId
        required: false
        description: Filter contracts by customer ID
      - schema:
          type: string
          enum:
          - ACTIVE
          - PAUSED
          - EXPIRED
          - CANCELLED
          example: ACTIVE
        in: query
        name: status
        required: false
        description: Filter contracts by status
      responses:
        '200':
          description: List of contracts
          content:
            application/json:
              schema:
                type: object
                description: List of contracts
                properties:
                  contracts:
                    type: array
                    items:
                      type: object
                      description: A per-customer commercial agreement. Contracts allow custom pricing, prepaid commits, spend caps, volume discounts, and included unit allocations that override default pricing plans for a specific customer.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the contract
                          example: ctr_abc123def456
                        businessId:
                          type: string
                          description: Business that owns this contract
                          example: biz_789xyz
                        customerId:
                          type: string
                          description: Customer this contract applies to (must be created via POST /customers first)
                          example: cus_abc123def456
                        name:
                          type: string
                          description: Human-readable name for the contract
                          example: Acme Corp Enterprise Agreement
                        status:
                          type: string
                          enum:
                          - ACTIVE
                          - PAUSED
                          - EXPIRED
                          - CANCELLED
                          description: 'Current contract status. Only ACTIVE contracts affect billing. Transitions: ACTIVE → PAUSED, EXPIRED, or CANCELLED.'
                          example: ACTIVE
                        startDate:
                          type: string
                          format: date-time
                          description: When the contract takes effect (ISO 8601)
                          example: '2024-01-01T00:00:00.000Z'
                        endDate:
                          type: string
                          format: date-time
                          nullable: true
                          description: When the contract expires (ISO 8601). Null means the contract is perpetual.
                          example: '2024-12-31T23:59:59.000Z'
                        minimumUsdc:
                          type: string
                          nullable: true
                          description: Minimum committed spend in USDC for the contract period. If the customer spends less, they are still billed for the minimum.
                          example: '500.000000'
                        maximumUsdc:
                          type: string
                          nullable: true
                          description: Maximum spend cap in USDC for the contract period. Charges that would exceed this cap are blocked.
                          example: '10000.000000'
                        discountPct:
                          type: string
                          nullable: true
                          description: Percentage discount applied to all charges under this contract (0-100, up to 2 decimal places)
                          example: '15.00'
                        prepaidAmountUsdc:
                          type: string
                          nullable: true
                          description: Total prepaid commit amount in USDC. This is the initial balance loaded into the contract.
                          example: '1000.000000'
                        prepaidBalanceUsdc:
                          type: string
                          nullable: true
                          description: Remaining prepaid balance in USDC. Decreases as charges are applied. When depleted, charges fall back to normal billing.
                          example: '750.000000'
                        prepaidRollover:
                          type: boolean
                          description: Whether unused prepaid balance rolls over to the next billing period
                          example: false
                        includedUnits:
                          type: object
                          nullable: true
                          additionalProperties:
                            type: number
                          description: Free unit allocations per usage type per billing period. Usage within these limits is not charged. Keys are unit types, values are quantities.
                          example:
                            api_call: 10000
                            token: 1000000
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                          description: Arbitrary key-value metadata for your own tracking (e.g., Salesforce deal ID, internal notes)
                          example:
                            salesforceId: OPP-12345
                            tier: enterprise
                        createdAt:
                          type: string
                          format: date-time
                          description: When the contract was created
                          example: '2024-01-15T10:30:00.000Z'
                        updatedAt:
                          type: string
                          format: date-time
                          description: When the contract was last updated
                          example: '2024-01-15T10:30:00.000Z'
                        priceOverrides:
                          type: array
                          description: Custom per-unit-type pricing that overrides default pricing plans for this customer
                          items:
                            type: object
                            description: A per-unit-type price override within a contract. Overrides the default pricing plan rate for this customer.
                            properties:
                              id:
                                type: string
                                description: Unique identifier for the price override
                                example: cpo_abc123def456
                              unitType:
                                type: string
                                description: The usage type this override applies to (must match a pricing plan `unitType`)
                                example: api_call
                              unitPriceUsd:
                                type: string
                                description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                                example: '0.000800'
                            required:
                            - id
                            - unitType
                            - unitPriceUsd
                      required:
                      - id
                      - businessId
                      - customerId
                      - name
                      - status
                      - startDate
                      - prepaidRollover
                      - createdAt
                      - updatedAt
                      - priceOverrides
                    description: List of contracts ordered by creation date (newest first)
                required:
                - contracts
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
  /v1/contracts/{id}:
    get:
      operationId: getContract
      summary: Get a contract
      tags:
      - Contracts
      description: 'Retrieve a specific contract by ID, including its current prepaid balance and all price overrides.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Contract ID
      responses:
        '200':
          description: Contract details
          content:
            application/json:
              schema:
                type: object
                description: Contract details
                properties:
                  id:
                    type: string
                    description: Unique identifier for the contract
                    example: ctr_abc123def456
                  businessId:
                    type: string
                    description: Business that owns this contract
                    example: biz_789xyz
                  customerId:
                    type: string
                    description: Customer this contract applies to (must be created via POST /customers first)
                    example: cus_abc123def456
                  name:
                    type: string
                    description: Human-readable name for the contract
                    example: Acme Corp Enterprise Agreement
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - PAUSED
                    - EXPIRED
                    - CANCELLED
                    description: 'Current contract status. Only ACTIVE contracts affect billing. Transitions: ACTIVE → PAUSED, EXPIRED, or CANCELLED.'
                    example: ACTIVE
                  startDate:
                    type: string
                    format: date-time
                    description: When the contract takes effect (ISO 8601)
                    example: '2024-01-01T00:00:00.000Z'
                  endDate:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the contract expires (ISO 8601). Null means the contract is perpetual.
                    example: '2024-12-31T23:59:59.000Z'
                  minimumUsdc:
                    type: string
                    nullable: true
                    description: Minimum committed spend in USDC for the contract period. If the customer spends less, they are still billed for the minimum.
                    example: '500.000000'
                  maximumUsdc:
                    type: string
                    nullable: true
                    description: Maximum spend cap in USDC for the contract period. Charges that would exceed this cap are blocked.
                    example: '10000.000000'
                  discountPct:
                    type: string
                    nullable: true
                    description: Percentage discount applied to all charges under this contract (0-100, up to 2 decimal places)
                    example: '15.00'
                  prepaidAmountUsdc:
                    type: string
                    nullable: true
                    description: Total prepaid commit amount in USDC. This is the initial balance loaded into the contract.
                    example: '1000.000000'
                  prepaidBalanceUsdc:
                    type: string
                    nullable: true
                    description: Remaining prepaid balance in USDC. Decreases as charges are applied. When depleted, charges fall back to normal billing.
                    example: '750.000000'
                  prepaidRollover:
                    type: boolean
                    description: Whether unused prepaid balance rolls over to the next billing period
                    example: false
                  includedUnits:
                    type: object
                    nullable: true
                    additionalProperties:
                      type: number
                    description: Free unit allocations per usage type per billing period. Usage within these limits is not charged. Keys are unit types, values are quantities.
                    example:
                      api_call: 10000
                      token: 1000000
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary key-value metadata for your own tracking (e.g., Salesforce deal ID, internal notes)
                    example:
                      salesforceId: OPP-12345
                      tier: enterprise
                  createdAt:
                    type: string
                    format: date-time
                    description: When the contract was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the contract was last updated
                    example: '2024-01-15T10:30:00.000Z'
                  priceOverrides:
                    type: array
                    description: Custom per-unit-type pricing that overrides default pricing plans for this customer
                    items:
                      type: object
                      description: A per-unit-type price override within a contract. Overrides the default pricing plan rate for this customer.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the price override
                          example: cpo_abc123def456
                        unitType:
                          type: string
                          description: The usage type this override applies to (must match a pricing plan `unitType`)
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                          example: '0.000800'
                      required:
                      - id
                      - unitType
                      - unitPriceUsd
                required:
                - id
                - businessId
                - customerId
                - name
                - status
                - startDate
                - prepaidRollover
                - createdAt
                - updatedAt
                - priceOverrides
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Contract not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract not found
    patch:
      operationId: amendContract
      summary: Amend a contract
      tags:
      - Contracts
      description: 'Update an active contract''s terms. Only ACTIVE contracts can be amended.


        Provide only the fields you want to change — unspecified fields remain unchanged. Note that `includedUnits` and `metadata` are replaced entirely (not merged) when provided.


        Cannot change: `customerId`, `startDate`, `prepaidAmountUsdc`, or `status` (use `DELETE` to cancel).


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: 'Update an existing contract. Only ACTIVE contracts can be amended. All fields are optional: only provided fields are updated. Cannot change `customerId` or `startDate` after creation.'
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Updated contract name
                  example: Acme Corp Enterprise Agreement (Amended)
                endDate:
                  type: string
                  format: date-time
                  description: Updated expiration date (ISO 8601). Set to extend or shorten the contract.
                  example: '2025-06-30T23:59:59.000Z'
                minimumUsdc:
                  type: string
                  description: Updated minimum committed spend in USDC
                  example: '750.00'
                maximumUsdc:
                  type: string
                  description: Updated maximum spend cap in USDC
                  example: '15000.00'
                discountPct:
                  type: string
                  description: Updated percentage discount (0-100)
                  example: '20'
                includedUnits:
                  type: object
                  additionalProperties:
                    type: number
                  description: Updated free unit allocations. Replaces the entire `includedUnits` object (not merged).
                  example:
                    api_call: 20000
                    token: 2000000
                metadata:
                  type: object
                  additionalProperties: true
                  description: Updated metadata. Replaces the entire `metadata` object (not merged).
                  example:
                    salesforceId: OPP-12345
                    tier: enterprise
                    amended: true
        description: 'Update an existing contract. Only ACTIVE contracts can be amended. All fields are optional: only provided fields are updated. Cannot change `customerId` or `startDate` after creation.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Contract ID
      responses:
        '200':
          description: Contract amended successfully
          content:
            application/json:
              schema:
                type: object
                description: Contract amended successfully
                properties:
                  id:
                    type: string
                    description: Unique identifier for the contract
                    example: ctr_abc123def456
                  businessId:
                    type: string
                    description: Business that owns this contract
                    example: biz_789xyz
                  customerId:
                    type: string
                    description: Customer this contract applies to (must be created via POST /customers first)
                    example: cus_abc123def456
                  name:
                    type: string
                    description: Human-readable name for the contract
                    example: Acme Corp Enterprise Agreement
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - PAUSED
                    - EXPIRED
                    - CANCELLED
                    description: 'Current contract status. Only ACTIVE contracts affect billing. Transitions: ACTIVE → PAUSED, EXPIRED, or CANCELLED.'
                    example: ACTIVE
                  startDate:
                    type: string
                    format: date-time
                    description: When the contract takes effect (ISO 8601)
                    example: '2024-01-01T00:00:00.000Z'
                  endDate:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the contract expires (ISO 8601). Null means the contract is perpetual.
                    example: '2024-12-31T23:59:59.000Z'
                  minimumUsdc:
                    type: string
                    nullable: true
                    description: Minimum committed spend in USDC for the contract period. If the customer spends less, they are still billed for the minimum.
                    example: '500.000000'
                  maximumUsdc:
                    type: string
                    nullable: true
                    description: Maximum spend cap in USDC for the contract period. Charges that would exceed this cap are blocked.
                    example: '10000.000000'
                  discountPct:
                    type: string
                    nullable: true
                    description: Percentage discount applied to all charges under this contract (0-100, up to 2 decimal places)
                    example: '15.00'
                  prepaidAmountUsdc:
                    type: string
                    nullable: true
                    description: Total prepaid commit amount in USDC. This is the initial balance loaded into the contract.
                    example: '1000.000000'
                  prepaidBalanceUsdc:
                    type: string
                    nullable: true
                    description: Remaining prepaid balance in USDC. Decreases as charges are applied. When depleted, charges fall back to normal billing.
                    example: '750.000000'
                  prepaidRollover:
                    type: boolean
                    description: Whether unused prepaid balance rolls over to the next billing period
                    example: false
                  includedUnits:
                    type: object
                    nullable: true
                    additionalProperties:
                      type: number
                    description: Free unit allocations per usage type per billing period. Usage within these limits is not charged. Keys are unit types, values are quantities.
                    example:
                      api_call: 10000
                      token: 1000000
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary key-value metadata for your own tracking (e.g., Salesforce deal ID, internal notes)
                    example:
                      salesforceId: OPP-12345
                      tier: enterprise
                  createdAt:
                    type: string
                    format: date-time
                    description: When the contract was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the contract was last updated
                    example: '2024-01-15T10:30:00.000Z'
                  priceOverrides:
                    type: array
                    description: Custom per-unit-type pricing that overrides default pricing plans for this customer
                    items:
                      type: object
                      description: A per-unit-type price override within a contract. Overrides the default pricing plan rate for this customer.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the price override
                          example: cpo_abc123def456
                        unitType:
                          type: string
                          description: The usage type this override applies to (must match a pricing plan `unitType`)
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                          example: '0.000800'
                      required:
                      - id
                      - unitType
                      - unitPriceUsd
                required:
                - id
                - businessId
                - customerId
                - name
                - status
                - startDate
                - prepaidRollover
                - createdAt
                - updatedAt
                - priceOverrides
        '400':
          description: Contract is not in ACTIVE state, or validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract is not in ACTIVE state, or validation error
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Contract not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract not found
    delete:
      operationId: cancelContract
      summary: Cancel a contract
      tags:
      - Contracts
      description: 'Cancel an active contract. Sets status to `CANCELLED`.


        Cancellation is permanent — cancelled contracts cannot be reactivated. Any remaining prepaid balance is frozen. Price overrides from this contract stop applying to new charges immediately.


        Already-cancelled contracts return a 400 error.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Contract ID
      responses:
        '200':
          description: Contract cancelled successfully
          content:
            application/json:
              schema:
                type: object
                description: Contract cancelled successfully
                properties:
                  id:
                    type: string
                    description: Unique identifier for the contract
                    example: ctr_abc123def456
                  businessId:
                    type: string
                    description: Business that owns this contract
                    example: biz_789xyz
                  customerId:
                    type: string
                    description: Customer this contract applies to (must be created via POST /customers first)
                    example: cus_abc123def456
                  name:
                    type: string
                    description: Human-readable name for the contract
                    example: Acme Corp Enterprise Agreement
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - PAUSED
                    - EXPIRED
                    - CANCELLED
                    description: 'Current contract status. Only ACTIVE contracts affect billing. Transitions: ACTIVE → PAUSED, EXPIRED, or CANCELLED.'
                    example: ACTIVE
                  startDate:
                    type: string
                    format: date-time
                    description: When the contract takes effect (ISO 8601)
                    example: '2024-01-01T00:00:00.000Z'
                  endDate:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the contract expires (ISO 8601). Null means the contract is perpetual.
                    example: '2024-12-31T23:59:59.000Z'
                  minimumUsdc:
                    type: string
                    nullable: true
                    description: Minimum committed spend in USDC for the contract period. If the customer spends less, they are still billed for the minimum.
                    example: '500.000000'
                  maximumUsdc:
                    type: string
                    nullable: true
                    description: Maximum spend cap in USDC for the contract period. Charges that would exceed this cap are blocked.
                    example: '10000.000000'
                  discountPct:
                    type: string
                    nullable: true
                    description: Percentage discount applied to all charges under this contract (0-100, up to 2 decimal places)
                    example: '15.00'
                  prepaidAmountUsdc:
                    type: string
                    nullable: true
                    description: Total prepaid commit amount in USDC. This is the initial balance loaded into the contract.
                    example: '1000.000000'
                  prepaidBalanceUsdc:
                    type: string
                    nullable: true
                    description: Remaining prepaid balance in USDC. Decreases as charges are applied. When depleted, charges fall back to normal billing.
                    example: '750.000000'
                  prepaidRollover:
                    type: boolean
                    description: Whether unused prepaid balance rolls over to the next billing period
                    example: false
                  includedUnits:
                    type: object
                    nullable: true
                    additionalProperties:
                      type: number
                    description: Free unit allocations per usage type per billing period. Usage within these limits is not charged. Keys are unit types, values are quantities.
                    example:
                      api_call: 10000
                      token: 1000000
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary key-value metadata for your own tracking (e.g., Salesforce deal ID, internal notes)
                    example:
                      salesforceId: OPP-12345
                      tier: enterprise
                  createdAt:
                    type: string
                    format: date-time
                    description: When the contract was created
                    example: '2024-01-15T10:30:00.000Z'
                  updatedAt:
                    type: string
                    format: date-time
                    description: When the contract was last updated
                    example: '2024-01-15T10:30:00.000Z'
                  priceOverrides:
                    type: array
                    description: Custom per-unit-type pricing that overrides default pricing plans for this customer
                    items:
                      type: object
                      description: A per-unit-type price override within a contract. Overrides the default pricing plan rate for this customer.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the price override
                          example: cpo_abc123def456
                        unitType:
                          type: string
                          description: The usage type this override applies to (must match a pricing plan `unitType`)
                          example: api_call
                        unitPriceUsd:
                          type: string
                          description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                          example: '0.000800'
                      required:
                      - id
                      - unitType
                      - unitPriceUsd
                required:
                - id
                - businessId
                - customerId
                - name
                - status
                - startDate
                - prepaidRollover
                - createdAt
                - updatedAt
                - priceOverrides
        '400':
          description: Contract is already cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract is already cancelled
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Contract not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract not found
  /v1/contracts/{id}/overrides:
    post:
      operationId: addContractPriceOverride
      summary: Add a price override
      tags:
      - Contracts
      description: 'Add or update a per-unit-type price override on a contract.


        Price overrides replace the default pricing plan rate for a specific usage type. For example, if your default `api_call` plan charges $0.001/call, a contract override of $0.0008/call gives this customer a negotiated enterprise rate.


        If an override for the given `unitType` already exists, it is updated (upsert behavior). Only ACTIVE contracts accept new overrides.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Add or update a per-unit-type price override on a contract. If an override already exists for the given `unitType`, it is updated (upsert). Only ACTIVE contracts accept overrides.
              properties:
                unitType:
                  type: string
                  minLength: 1
                  description: The usage type to override pricing for. Must match a `unitType` in your pricing plans (e.g., "api_call", "token").
                  example: api_call
                unitPriceUsd:
                  type: string
                  description: Custom price per unit in USD. Must be a non-negative number as a string (for decimal precision). Use "0" for free-tier overrides.
                  example: '0.000800'
              required:
              - unitType
              - unitPriceUsd
        description: Add or update a per-unit-type price override on a contract. If an override already exists for the given `unitType`, it is updated (upsert). Only ACTIVE contracts accept overrides.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Contract ID
      responses:
        '201':
          description: Price override created or updated
          content:
            application/json:
              schema:
                type: object
                description: Price override created or updated
                properties:
                  id:
                    type: string
                    description: Unique identifier for the price override
                    example: cpo_abc123def456
                  unitType:
                    type: string
                    description: The usage type this override applies to (must match a pricing plan `unitType`)
                    example: api_call
                  unitPriceUsd:
                    type: string
                    description: Custom price per unit in USD (string for decimal precision, up to 6 decimal places)
                    example: '0.000800'
                required:
                - id
                - unitType
                - unitPriceUsd
        '400':
          description: Contract is not in ACTIVE state, or validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract is not in ACTIVE state, or validation error
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Contract not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract not found
  /v1/contracts/{id}/overrides/{unitType}:
    delete:
      operationId: removeContractPriceOverride
      summary: Remove a price override
      tags:
      - Contracts
      description: 'Remove a per-unit-type price override from a contract. After removal, the customer reverts to the default pricing plan rate for that usage type.


        The `unitType` path parameter must exactly match the override''s unit type (e.g., `api_call`).


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Contract ID
      - schema:
          type: string
        in: path
        name: unitType
        required: true
        description: Unit type to remove the override for (e.g., "api_call", "token")
      responses:
        '204':
          description: Price override removed successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Validation error
        '401':
          description: Unauthorized — missing or invalid API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized — missing or invalid API key
        '403':
          description: Forbidden — API key does not have ADMIN role
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Forbidden — API key does not have ADMIN role
        '404':
          description: Contract or override not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Contract or override not found
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
