openapi: 3.2.0
info:
  title: Drip Customers API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Customers
  description: Create and manage billable customers.
paths:
  /v1/customers:
    post:
      operationId: createCustomer
      summary: Create a customer
      tags:
      - Customers
      description: 'Create a customer. Just pass `externalCustomerId` (your user ID). Add `onchainAddress` later for on-chain billing.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Create a customer. At least one of `externalCustomerId` or `onchainAddress` must be provided.
              properties:
                externalCustomerId:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Your system customer ID. Required if `onchainAddress` is not provided.
                  example: user_789
                onchainAddress:
                  type: string
                  pattern: ^0x[a-fA-F0-9]{40}$
                  description: Smart account address. Required if `externalCustomerId` is not provided. Optional for ledger-only use.
                  example: '0x742d35Cc6634C0532925a3b844Bc9e7595f00000'
                email:
                  type: string
                  format: email
                  maxLength: 320
                  description: Optional end-customer email. When set, invoice PDFs are emailed here automatically on issue, past-due, and payment.
                  example: billing@acme.com
                isInternal:
                  type: boolean
                  description: Internal customer (visibility only, no billing)
                  example: false
                  default: false
                metadata:
                  type: object
                  additionalProperties: true
                  description: Optional metadata
                  example:
                    plan: pro
                    source: signup
              required: []
        description: Create a customer. At least one of `externalCustomerId` or `onchainAddress` must be provided.
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                description: Customer created successfully
                type: object
                properties:
                  id:
                    type: string
                    description: Internal customer ID
                    example: cus_abc123def456
                  businessId:
                    type: string
                    description: Business ID this customer belongs to
                    example: biz_abc123
                  name:
                    type: string
                    nullable: true
                    description: Customer display name
                    example: Acme Logistics
                  externalCustomerId:
                    type: string
                    nullable: true
                    description: Your system customer ID (null if created with onchainAddress only)
                    example: user_789
                  stripeCustomerId:
                    type: string
                    nullable: true
                    description: Stripe customer ID linked via Connect or migration
                    example: cus_StripeXYZ
                  onchainAddress:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                    description: Smart account address (null for internal customers)
                    example: '0x742d35Cc6634C0532925a3b844Bc9e7595f00000'
                    nullable: true
                  email:
                    type: string
                    format: email
                    nullable: true
                    description: End-customer email used for invoice receipt delivery (null if not set)
                    example: billing@acme.com
                  isInternal:
                    type: boolean
                    description: Internal customer (visibility only, no billing)
                    example: false
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - LOW_BALANCE
                    - PAUSED
                    description: Customer status
                    example: ACTIVE
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary metadata attached to the customer
                    example:
                      plan: pro
                      source: signup
                  createdAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  provisioningStatus:
                    type: string
                    enum:
                    - provisioned
                    - pending
                    - skipped
                    description: Provisioning outcome for the customer smart account
                    example: provisioned
                  fundingRequired:
                    type: boolean
                    description: True when the smart account exists but still needs funding before billing can proceed
                    example: true
                  _warnings:
                    type: array
                    items:
                      type: string
                    description: Non-fatal warnings generated while creating the customer
                    example:
                    - External customer ID resembles a patient identifier; avoid storing PHI in identifiers.
                required:
                - id
                - businessId
                - isInternal
                - status
                - createdAt
                - updatedAt
                - provisioningStatus
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                description: Unauthorized - invalid or missing API key
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '403':
          description: Forbidden - customer blocked
          content:
            application/json:
              schema:
                description: Forbidden - customer blocked
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '409':
          description: Customer already exists
          content:
            application/json:
              schema:
                description: Customer already exists
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                description: Validation error
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                description: Rate limit exceeded
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '503':
          description: 'Service temporarily unavailable: retry with backoff'
          content:
            application/json:
              schema:
                description: 'Service temporarily unavailable: retry with backoff'
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    get:
      operationId: listCustomers
      summary: List customers
      tags:
      - Customers
      description: List all customers for your business. Requires a secret key (`sk_*`). Returns up to 100 customers sorted by creation date (newest first).
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        name: limit
        required: false
        description: Maximum number of customers to return
      - schema:
          type: integer
          minimum: 0
          default: 0
        in: query
        name: offset
        required: false
        description: Number of customers to skip (for pagination)
      - schema:
          type: string
          enum:
          - ACTIVE
          - LOW_BALANCE
          - PAUSED
        in: query
        name: status
        required: false
        description: Filter by customer status
      - schema:
          type: string
        in: query
        name: onchainAddress
        required: false
        description: Filter by on-chain address
      - schema:
          type: boolean
        in: query
        name: isInternal
        required: false
        description: Filter by internal customers (true = internal only, false = billing customers only)
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                description: List of customers
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Internal customer ID
                          example: cus_abc123def456
                        businessId:
                          type: string
                          description: Business ID this customer belongs to
                          example: biz_abc123
                        name:
                          type: string
                          nullable: true
                          description: Customer display name
                          example: Acme Logistics
                        externalCustomerId:
                          type: string
                          nullable: true
                          description: Your system customer ID (null if created with onchainAddress only)
                          example: user_789
                        stripeCustomerId:
                          type: string
                          nullable: true
                          description: Stripe customer ID linked via Connect or migration
                          example: cus_StripeXYZ
                        onchainAddress:
                          type: string
                          pattern: ^0x[a-fA-F0-9]{40}$
                          description: Smart account address (null for internal customers)
                          example: '0x742d35Cc6634C0532925a3b844Bc9e7595f00000'
                          nullable: true
                        email:
                          type: string
                          format: email
                          nullable: true
                          description: End-customer email used for invoice receipt delivery (null if not set)
                          example: billing@acme.com
                        isInternal:
                          type: boolean
                          description: Internal customer (visibility only, no billing)
                          example: false
                        status:
                          type: string
                          enum:
                          - ACTIVE
                          - LOW_BALANCE
                          - PAUSED
                          description: Customer status
                          example: ACTIVE
                        metadata:
                          type: object
                          nullable: true
                          additionalProperties: true
                          description: Arbitrary metadata attached to the customer
                          example:
                            plan: pro
                            source: signup
                        createdAt:
                          type: string
                          format: date-time
                          example: '2024-01-15T10:30:00Z'
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2024-01-15T10:30:00Z'
                      required:
                      - id
                      - businessId
                      - isInternal
                      - status
                      - createdAt
                      - updatedAt
                  count:
                    type: integer
                    description: Number of customers returned
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/customers/{id}:
    get:
      operationId: getCustomer
      summary: Get a customer
      tags:
      - Customers
      description: Retrieve a customer by their ID. Requires a secret key (`sk_*`).
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                description: Customer details
                type: object
                properties:
                  id:
                    type: string
                    description: Internal customer ID
                    example: cus_abc123def456
                  businessId:
                    type: string
                    description: Business ID this customer belongs to
                    example: biz_abc123
                  name:
                    type: string
                    nullable: true
                    description: Customer display name
                    example: Acme Logistics
                  externalCustomerId:
                    type: string
                    nullable: true
                    description: Your system customer ID (null if created with onchainAddress only)
                    example: user_789
                  stripeCustomerId:
                    type: string
                    nullable: true
                    description: Stripe customer ID linked via Connect or migration
                    example: cus_StripeXYZ
                  onchainAddress:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                    description: Smart account address (null for internal customers)
                    example: '0x742d35Cc6634C0532925a3b844Bc9e7595f00000'
                    nullable: true
                  email:
                    type: string
                    format: email
                    nullable: true
                    description: End-customer email used for invoice receipt delivery (null if not set)
                    example: billing@acme.com
                  isInternal:
                    type: boolean
                    description: Internal customer (visibility only, no billing)
                    example: false
                  status:
                    type: string
                    enum:
                    - ACTIVE
                    - LOW_BALANCE
                    - PAUSED
                    description: Customer status
                    example: ACTIVE
                  metadata:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: Arbitrary metadata attached to the customer
                    example:
                      plan: pro
                      source: signup
                  createdAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  updatedAt:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                required:
                - id
                - businessId
                - isInternal
                - status
                - createdAt
                - updatedAt
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
    patch:
      operationId: updateCustomer
      summary: Update a customer
      tags:
      - Customers
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/billing-history:
    get:
      operationId: getCustomerBillingHistory
      summary: Get customer billing-field history
      tags:
      - Customers
      description: Return every snapshot of this customer's billing-relevant fields (name, email), oldest → newest. A v1 snapshot is created when the customer is first created; each subsequent change appends a new version and seals the previous one.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Billing history
          content:
            application/json:
              schema:
                description: Billing history
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  count:
                    type: integer
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
                description: Customer not found
  /v1/customers/{id}/revops-summary:
    get:
      operationId: getCustomerRevOpsSummary
      summary: Get RevOps summary
      tags:
      - Customers
      description: 'Aggregated revenue/operations summary for a customer: reputation band, lifetime revenue, cost, gross margin, success rate, and top unit types. Requires a secret key (`sk_*`).'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: RevOps summary
          content:
            application/json:
              schema:
                description: RevOps summary
                type: object
                properties:
                  reputationScore:
                    type: number
                  reputationBand:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - FAIR
                    - POOR
                    - HIGH_RISK
                  lifetimeRevenueUsdc:
                    type: string
                  lifetimeCostUsdc:
                    type: string
                  grossMarginUsdc:
                    type: string
                  grossMarginPct:
                    type: number
                  chargeSuccessRate:
                    type: number
                  disputeCount:
                    type: number
                  anomalyCount:
                    type: number
                  tenureDays:
                    type: number
                  lastActivityAt:
                    type: string
                    format: date-time
                    nullable: true
                  topUnitTypes:
                    type: array
                    items:
                      type: object
                      properties:
                        unitType:
                          type: string
                        revenueUsdc:
                          type: string
                        marginPct:
                          type: number
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/customers/{id}/sync-balance:
    post:
      operationId: syncCustomerBalance
      summary: Sync customer balance
      tags:
      - Customers
      description: 'Triggers an immediate balance sync for a customer. This fetches the current

        on-chain balance and updates the database snapshot.


        Use this endpoint:

        - After a customer deposits funds on-chain

        - To verify balance accuracy before a charge

        - For debugging balance discrepancies


        The response includes both previous and new balances, along with whether

        a change was detected. Requires a secret key (`sk_*`).'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: Balance sync completed
          content:
            application/json:
              schema:
                description: Balance sync completed
                type: object
                properties:
                  customerId:
                    type: string
                    description: Customer ID
                  previousBalance:
                    type: string
                    description: Previous balance in USDC
                  newBalance:
                    type: string
                    description: Current on-chain balance in USDC
                  changed:
                    type: boolean
                    description: Whether the balance changed
                  blockNumber:
                    type: string
                    description: Block number when balance was checked
                  syncedAt:
                    type: string
                    format: date-time
                    description: Timestamp of sync
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/customers/{id}/provision:
    post:
      operationId: provisionSmartAccount
      summary: Provision smart account
      tags:
      - Customers
      description: 'Deploy an ERC-4337 smart account for a customer and deposit USDC into the BillingModule.


        On testnet (Base Sepolia), this automatically mints and deposits test USDC.

        On mainnet, the customer must deposit USDC separately after deployment.


        The smart account is owned by the billing authority for server-side management.

        Requires a secret key (`sk_*`).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                deposit_amount_usdc:
                  type: string
                  description: 'USDC amount to deposit into BillingModule (testnet only, default: "100")'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: Smart account provisioned
          content:
            application/json:
              schema:
                description: Smart account provisioned
                type: object
                properties:
                  smart_account_address:
                    type: string
                  already_deployed:
                    type: boolean
                  deploy_tx_hash:
                    type: string
                    nullable: true
                  fund_tx_hash:
                    type: string
                    nullable: true
                  billing_deposit_tx_hash:
                    type: string
                    nullable: true
                  billing_balance_usdc:
                    type: string
                  funding_required:
                    type: boolean
                    description: True when the customer must fund their account via checkout (mainnet)
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                description: Invalid request
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
  /v1/customers/{id}/spending-cap:
    put:
      operationId: setCustomerSpendingCap
      summary: Set customer spending cap
      tags:
      - Customers
      description: Set or update a per-customer spending cap. Supports DAILY_CHARGE_LIMIT, MONTHLY_CHARGE_LIMIT, and SINGLE_CHARGE_LIMIT. When autoBlock=true (default), charges are rejected at 100% of the cap. Requires a secret key (`sk_*`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - capType
              - limitValue
              properties:
                capType:
                  type: string
                  enum:
                  - DAILY_CHARGE_LIMIT
                  - MONTHLY_CHARGE_LIMIT
                  - SINGLE_CHARGE_LIMIT
                  description: Type of spending cap
                limitValue:
                  type: number
                  description: Spending limit in USDC
                autoBlock:
                  type: boolean
                  description: 'Auto-block charges when cap is reached (default: true)'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Spending cap set
          content:
            application/json:
              schema:
                description: Spending cap set
                type: object
                properties:
                  id:
                    type: string
                  capType:
                    type: string
                  limitValue:
                    type: string
                  autoBlock:
                    type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
  /v1/customers/{id}/spending-caps:
    get:
      operationId: listCustomerSpendingCaps
      summary: List customer spending caps
      tags:
      - Customers
      description: List all active spending caps for a customer, including current usage and last alert level. Requires a secret key (`sk_*`).
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Spending caps
          content:
            application/json:
              schema:
                description: Spending caps
                type: object
                properties:
                  caps:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        capType:
                          type: string
                        limitValue:
                          type: string
                        currentUsage:
                          type: string
                        autoBlock:
                          type: boolean
                        lastAlertLevel:
                          type: string
                          nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
  /v1/customers/{id}/spending-caps/{capId}:
    delete:
      operationId: removeCustomerSpendingCap
      summary: Remove customer spending cap
      tags:
      - Customers
      description: Deactivate a spending cap for a customer. Requires a secret key (`sk_*`).
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      - schema:
          type: string
        in: path
        name: capId
        required: true
      responses:
        '200':
          description: Cap removed
          content:
            application/json:
              schema:
                description: Cap removed
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
        '404':
          description: Customer or cap not found
          content:
            application/json:
              schema:
                description: Customer or cap not found
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
  /v1/customers/{id}/attach-plan:
    post:
      operationId: attachPlanToCustomer
      summary: Attach a Quickstart-managed plan to a customer
      tags:
      - Customers
      description: 'Creates a Stripe Subscription on the merchant''s connected account for the given Drip (customer, plan) pair. The plan MUST be Drip-managed (`managedBy=DRIP`); run provisionPlanOnStripe / POST `/pricing-plans/:id/reprovision-stripe` first if the plan is still `EXTERNAL`. Idempotent: re-calling with the same customer + plan returns the existing subscription.


        > **Requires a secret key (`sk_*`) with the `ADMIN` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planId:
                  type: string
                  description: Drip pricing plan id
                customerEmailOverride:
                  type: string
                  description: Optional email to send to Stripe when the Drip customer row has none. Ignored if the customer already has an email.
              required:
              - planId
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Drip customer id
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/sync-stripe-customer:
    post:
      operationId: syncCustomerToStripe
      summary: Sync a Drip customer to Stripe (create cus_xxx and link)
      tags:
      - Customers
      description: 'Create a Stripe Customer on the merchant''s connected Stripe account for the given Drip customer and persist the resulting `cus_xxx` on the Drip customer row. Idempotent: if the Drip customer already has a `stripeCustomerId`, returns it unchanged. Works with API-key or OAuth-connected Stripe integrations. Email/name are pulled from the Drip customer''s `metadata.email` / `metadata.name`, falling back to `externalCustomerId` when it looks like an email, then to `emailOverride` from the request body.


        > **Requires a secret key (`sk_*`) with at least the `OPERATOR` role.**'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                integrationId:
                  type: string
                  description: Specific Stripe integration to use. Omit to auto-select the workspace's active Stripe integration.
                emailOverride:
                  type: string
                  description: Email to send to Stripe when the Drip customer has none in metadata or externalCustomerId.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Drip customer id
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/hierarchy:
    get:
      operationId: getCustomerHierarchy
      summary: Get customer hierarchy
      tags:
      - Customers
      description: Returns the full ancestor chain (parent, grandparent, …) and all descendants for a customer.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/rollup:
    get:
      operationId: getCustomerRollup
      summary: Get customer roll-up stats
      tags:
      - Customers
      description: Aggregated invoice totals and usage across this customer and all descendants.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/touches:
    get:
      operationId: listCustomerTouches
      summary: List recent touches for a customer
      tags:
      - Customers
      description: Return the most recent touches for a customer, ordered by `ts` descending. Default limit 10, max 100. Touches are pushed by drip-cli via POST /v1/sync/touches; this endpoint surfaces the last-N preview metadata.
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
        in: query
        name: limit
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: Default Response
  /v1/customers/{id}/balance:
    get:
      operationId: getCustomerBalance
      summary: Get customer balance
      tags:
      - Customers
      description: 'Retrieve the current balance for a customer. Returns the latest cached

        balance from the database (synced periodically from on-chain).


        For real-time balance, call `POST /v1/customers/:id/sync-balance` first.'
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Customer ID
      responses:
        '200':
          description: Customer balance
          content:
            application/json:
              schema:
                description: Customer balance
                type: object
                properties:
                  customerId:
                    type: string
                  onchainAddress:
                    type: string
                    pattern: ^0x[a-fA-F0-9]{40}$
                  balanceUsdc:
                    type: string
                    description: Available USDC balance
                  pendingChargesUsdc:
                    type: string
                    description: USDC in pending charges
                  availableUsdc:
                    type: string
                    description: Balance minus pending charges
                  lastSyncedAt:
                    type: string
                    format: date-time
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                description: Unauthorized
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                description: Customer not found
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                  code:
                    type: string
                    description: Error code
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        message:
                          type: string
                    description: Validation error details
                required:
                - error
                - code
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
