openapi: 3.2.0
info:
  title: Drip Internal API
  description: '# Drip API


    **Usage-based billing + execution ledger.**


    ---


    ## 60-Second Quickstart (Core SDK)


    ### 1.'
  version: 1.0.0
  contact:
    name: Drip Support
    email: support@drippay.dev
  x-logo:
    url: https://drippay.dev/logo.svg
    altText: Drip
servers:
- url: https://api.drippay.dev
  description: Production
- url: http://localhost:3001
  description: Development
security:
- bearerAuth: []
tags:
- name: Internal
paths:
  /v1/desktop/feature-flags:
    get:
      operationId: desktopFeatureFlags
      summary: Per-account desktop (dripos) feature-flag entitlements
      description: 'Returns the per-account feature-flag entitlements for the authenticated business. The desktop (dripos) client treats every flag as a grant that fails closed: any flag not returned with `enabled: true` is denied client-side. Entitlements are resolved server-side from a per-account allowlist keyed on the business''s unique email. Requires a secret key (`sk_*`); public keys (`pk_*`) receive `403 Forbidden`.'
      tags:
      - Internal
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Per-account feature-flag entitlements
          content:
            application/json:
              schema:
                type: object
                properties:
                  entitlements:
                    type: object
                    description: 'Map of desktop feature-flag key to grant. Any flag not present, or present with `enabled: false`, is denied client-side.'
                    additionalProperties:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether this flag is granted for the authenticated account.
                      required:
                      - enabled
                    properties:
                      postEngagementScrape:
                        type: object
                        description: LinkedIn post-engagement scraper. Restricted to allowlisted internal operators.
                        properties:
                          enabled:
                            type: boolean
                        required:
                        - enabled
                    required:
                    - postEngagementScrape
                required:
                - entitlements
              example:
                entitlements:
                  postEngagementScrape:
                    enabled: false
        '401':
          description: Missing or invalid API key
        '403':
          description: A public key (`pk_*`) was used. A secret key (`sk_*`) is required.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'API key from Drip Dashboard. Format: `sk_live_...` or `sk_test_...`'
